Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Python re-implementation of P3M
  samples/p3m_python.py
Due: autopep8

Performance and bugfixes
  samples/p3m_python.py
Due: autopep8

Testsuite
  samples/p3m_python.py
Due: autopep8

CMake: Re-order interface targets
  CMakeLists.txt
Due: none

Redesign targets
  CMakeLists.txt
Due: none

Replace h5xx submodule by FetchContent
  .gitmodules
  CMakeLists.txt
  doc/sphinx/installation.rst
  libs/CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/h5md_specification.hpp
  src/script_interface/h5md/CMakeLists.txt
  src/script_interface/h5md/h5md.hpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

EasyBuild recipe for ESPResSo
  maintainer/easybuild/ESPResSo-4.3-foss-2023b.eb
  maintainer/easybuild/Readme.md
  maintainer/easybuild/espresso.py
Due: autopep8

Fix python/pip/numpy/cmake portability issues
  CMakeLists.txt
  doc/sphinx/Readme.rst
  doc/sphinx/ek.rst
  doc/sphinx/installation.rst
  doc/sphinx/lb.rst
  doc/sphinx/running.rst
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/polymers/polymers.ipynb
  requirements.txt
  samples/diffusion_coefficient.py
  testsuite/python/coulomb_interface.py
  testsuite/python/sigint.py
Due: autopep8

Redesign tutorials CI/CD framework
  doc/tutorials/CMakeLists.txt
  doc/tutorials/active_matter/CMakeLists.txt
  doc/tutorials/charged_system/CMakeLists.txt
  doc/tutorials/constant_pH/CMakeLists.txt
  doc/tutorials/convert.py
  doc/tutorials/electrodes/CMakeLists.txt
  doc/tutorials/electrokinetics/CMakeLists.txt
  doc/tutorials/error_analysis/CMakeLists.txt
  doc/tutorials/ferrofluid/CMakeLists.txt
  doc/tutorials/grand_canonical_monte_carlo/CMakeLists.txt
  doc/tutorials/langevin_dynamics/CMakeLists.txt
  doc/tutorials/lattice_boltzmann/CMakeLists.txt
  doc/tutorials/lennard_jones/CMakeLists.txt
  doc/tutorials/mlip/CMakeLists.txt
  doc/tutorials/polymers/CMakeLists.txt
  doc/tutorials/raspberry_electrophoresis/CMakeLists.txt
  doc/tutorials/visualization/CMakeLists.txt
  doc/tutorials/widom_insertion/CMakeLists.txt
Due: autopep8

Bump compiler requirements
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  src/core/electrostatics/scafacos_impl.cpp
  src/walberla_bridge/CMakeLists.txt
  testsuite/python/lb_circular_couette.py
Due: clang-format, autopep8

macos
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
  testsuite/python/collision_detection.py
Due: autopep8

fixup
  .github/workflows/push_pull.yml
Due: none

fixup
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

appleclang
  .github/workflows/push_pull.yml
Due: none

debug
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
Due: none

debug
  maintainer/CI/build_cmake.sh
Due: none

venv_macos
  src/python/CMakeLists.txt
  src/python/pypresso.cmakein
Due: none

fixup
  maintainer/CI/build_cmake.sh
Due: none

NumPy 2 support
  samples/p3m_python.py
Due: autopep8

Add contact time feature
  doc/sphinx/analysis.rst
  samples/contact_time.py
  src/core/accumulators/ContactTimes.cpp
  src/core/accumulators/ContactTimes.hpp
  src/core/observables/PairwiseDistances.hpp
  src/core/observables/PidPairwiseDistancesObservable.hpp
  src/python/espressomd/accumulators.py
  src/python/espressomd/observables.py
  src/script_interface/accumulators/ContactTimes.hpp
  src/script_interface/accumulators/initialize.cpp
  src/script_interface/observables/PairwiseDistances.hpp
  src/script_interface/observables/initialize.cpp
  src/script_interface/tests/Accumulators_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/contact_time.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_contact_time.py
Due: clang-format, autopep8

Bump version requirements
  CMakeLists.txt
  doc/sphinx/installation.rst
  requirements.txt
Due: none

Add support for CMake 4.0
  CMakeLists.txt
  cmake/FindCUDACompilerNVCC.cmake
  cmake/walberla.patch
Due: none

Use new GitLab-CI API
  .gitlab-ci.yml
Due: none

New SFB1313 runner
  .gitlab-ci.yml
Due: none

Remove unused maintainer script
  maintainer/check_features.py
Due: autopep8

New add_bond framework
  src/core/CMakeLists.txt
  src/core/bonds.cpp
  src/core/bonds.hpp
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/collision_detection/BindCenters.cpp
  src/core/collision_detection/utils.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format

Revert "New SFB1313 runner"
  .gitlab-ci.yml
Due: none

Fix regressions
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  doc/tutorials/CMakeLists.txt
  src/python/espressomd/interactions.py
  testsuite/python/tabulated.py
Due: autopep8

Add sympy tabulated potentials
  doc/sphinx/inter_non-bonded.rst
  src/python/espressomd/interactions.py
  testsuite/python/tabulated.py
Due: autopep8

Fix CI pipelines
  .gitlab-ci.yml
Due: none

Add DPD contribution to the pressure
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/pressure.cpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/ObservableStat.cpp
  testsuite/python/analyze_energy.py
  testsuite/python/dpd.py
Due: clang-format, autopep8

Rewrite installation instructions for macOS
  doc/sphinx/installation.rst
Due: none

Update installation instructions for Linux and WSL
  INSTALL
  Readme.md
  doc/bibliography.bib
  doc/sphinx/conf.py.in
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
Due: none

Restructure installation instructions
  Readme.md
  doc/sphinx/installation.rst
Due: none

Re-implement NpT algorithm based on Andersen equation
  doc/bibliography.bib
  doc/sphinx/integration.rst
  src/core/analysis/statistics.cpp
  src/core/electrostatics/p3m.cpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m.impl.hpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/random.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/thermostats/npt_inline.hpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/random_test.cpp
  src/core/unit_tests/thermostats_test.cpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/integrators/VelocityVerletIsoNPT.cpp
  src/script_interface/system/System.cpp
  testsuite/python/drude.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/pressure.py
  testsuite/python/propagation_npt.py
Due: clang-format, autopep8

Return ParticleHandle from add_particle to avoid unnecessary ID lookup.
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleList.cpp
Due: clang-format, autopep8

Rewrite CoulombP3M with the heFFTe backend
  .github/workflows/push_pull.yml
  CMakeLists.txt
  doc/sphinx/running.rst
  doc/tutorials/widom_insertion/widom_insertion.ipynb
  maintainer/benchmarks/p3m.py
  src/core/CMakeLists.txt
  src/core/electrostatics/CMakeLists.txt
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dlc.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/TuningAlgorithm.hpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/data_struct.hpp
  src/core/p3m/field_layout_helpers.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/interpolation.hpp
  src/core/p3m/send_mesh.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  testsuite/cmake/test_install.sh
  testsuite/python/coulomb_interface.py
  testsuite/python/icc.py
  testsuite/python/p3m_fft.py
  testsuite/python/thole.py
  testsuite/tutorials/test_widom_insertion.py
Due: clang-format, autopep8

Add for_each() functions to apply callbacks on particles
  src/core/cell_system/CellStructure.hpp
  src/core/error_handling/RuntimeErrorCollector.cpp
  src/core/error_handling/RuntimeErrorCollector.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/integrate.cpp
  src/core/virtual_sites/lb_tracers.cpp
  src/core/virtual_sites/relative.cpp
Due: clang-format
