Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

Remove inactive code (#5154)
  src/core/cell_system/CellStructure.hpp
Due: clang-format

On a single MPI rank, don't use ghost cells in RegularDecomposition (#5157)
  .gitlab-ci.yml
  src/core/cell_system/RegularDecomposition.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

Switch to individual views for particle properties in place of aosoa (#5153)
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Reduce overhead of script interface type conversions
  src/python/espressomd/particle_data.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pyx
  testsuite/python/utils.py
Due: autopep8

Redesign CI/CD workflows
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  cmake/espresso_unit_test.cmake
  maintainer/CI/build_cmake.sh
  src/core/unit_tests/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
  testsuite/CMakeLists.txt
  testsuite/python/CMakeLists.txt
Due: none

Linked cell list loop for steepest descent with shared memory parallelisation (#5158)
  src/config/check_myconfig.py
  src/config/defines.py
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
Due: clang-format, autopep8

remove dangerous ABI-breaking warning suppression
  src/python/espressomd/CMakeLists.txt
Due: none

added a global boundary force getter
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
Due: clang-format, autopep8

Restore exclusions setter in ParticleHandle update method (#5168)
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/particle.py
Due: clang-format, autopep8

added boundary force getter for an input shape
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
Due: clang-format, autopep8

Rewrite MPI global state management
  src/core/MpiCallbacks.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/unit_tests/EspressoCoreGlobalConfig.hpp
  src/python/espressomd/_init.pyx
  src/python/espressomd/communication.pxd
  src/script_interface/electrostatics/CoulombScafacos.hpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/magnetostatics/DipolarScafacos.hpp
  src/script_interface/tests/ObjectList_test.cpp
  src/script_interface/tests/ObjectMap_test.cpp
  src/script_interface/walberla/EKFFT.hpp
Due: clang-format, autopep8

Rewrite CUDA build system
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/espresso_unit_test.cmake
  doc/sphinx/installation.rst
  src/core/CMakeLists.txt
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/python/espressomd/CMakeLists.txt
  src/script_interface/system/CudaInitHandle.cpp
  src/script_interface/system/CudaInitHandle.hpp
  src/walberla_bridge/CMakeLists.txt
  testsuite/python/gpu_availability.py
Due: clang-format, autopep8

reactivated testcase for lb bondary volume force
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_boundary_volume_force.py
Due: clang-format, autopep8

Acknowledge libraries and tools
  doc/bibliography.bib
  doc/sphinx/installation.rst
  doc/sphinx/io.rst
  doc/sphinx/particles.rst
  doc/sphinx/running.rst
  samples/h5md.py
  samples/h5md_trajectory.py
  src/python/pypresso.cmakein
Due: autopep8

fix range based for loop error
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
Due: autopep8

fix vector float type
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

some cleanup
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
Due: clang-format, autopep8

CMake: Improve testing and packaging infrastructure
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  src/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
  testsuite/CMakeLists.txt
  testsuite/python/CMakeLists.txt
Due: none

fix tests
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb_boundary_ghost_layer.py
  testsuite/python/lb_boundary_volume_force.py
Due: clang-format, autopep8

adds boundary velocity to the boundary volume force test case
  testsuite/python/lb_boundary_volume_force.py
Due: autopep8

fixed boundary domain
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
Due: clang-format, autopep8

Modernize zndraw interface (#5172)
  doc/tutorials/charged_system/charged_system.ipynb
  src/python/espressomd/plugins/ase.py
  src/python/espressomd/system.py
  src/python/espressomd/zn.py
  testsuite/python/CMakeLists.txt
  testsuite/python/ase_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

Improve UBB kernel template
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  maintainer/walberla_kernels/templates/Boundary.tmpl.h
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
Due: clang-format, autopep8

Support for single step symplectic Euler integrator (#5163)
  maintainer/benchmarks/lj.py
  src/core/PropagationMode.hpp
  src/core/integrate.cpp
  src/core/integrators/symplectic_euler_inline.hpp
  src/python/espressomd/integrate.py
  src/script_interface/integrators/CMakeLists.txt
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/integrators/SymplecticEuler.cpp
  src/script_interface/integrators/SymplecticEuler.hpp
  src/script_interface/integrators/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_langevin_stats.py
  testsuite/python/integrator_symplectic_euler.py
  testsuite/python/integrator_symplectic_euler_langevin.py
  testsuite/python/propagation_symplectic_euler.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Batch particle slice properties setter (#5170)
  src/python/espressomd/particle_data.py
  src/script_interface/ObjectHandle.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  src/script_interface/particle_data/initialize.cpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/ParticleSlice_test.cpp
  testsuite/python/particle_slice.py
Due: clang-format, autopep8

Add support for VTK structured uniform grids (#5176)
  doc/sphinx/ek.rst
  doc/sphinx/io.rst
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/io/vtk.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/LatticeModel.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/lattice_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Implement LB boundary forces (#5150)
  CMakeLists.txt
  maintainer/walberla_kernels/Readme.md
  maintainer/walberla_kernels/custom_additional_extensions.py
  maintainer/walberla_kernels/generate_ek_kernels.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  maintainer/walberla_kernels/templates/Boundary.tmpl.h
  src/python/espressomd/lb.py
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision_CUDA.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision_CUDA.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision_CUDA.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_single_precision_CUDA.h
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecisionCUDA.h
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_boundary_ghost_layer.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_shear.py
Due: clang-format, autopep8

Implement replicas and dipole field tracking to DipolarDirectSumGpu (#5094)
  doc/sphinx/magnetostatics.rst
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.hpp
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cuh
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/observables/ParticleDipoleFields.hpp
  src/core/system/GpuParticleData.cpp
  src/core/system/GpuParticleData.hpp
  src/core/system/GpuParticleData_cuda.cu
  src/core/virtual_sites.cpp
  src/python/espressomd/analyze.py
  src/python/espressomd/magnetostatics.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/magnetostatics/DipolarDirectSumGpu.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_interface.py
  testsuite/python/dipole_field_tracking.py
  testsuite/python/observables.py
Due: clang-format, autopep8

Remove particle pointer-based access in forces_cabana and force_inline (#5179)
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/forces_cabana.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

rename_workflows
  .github/workflows/push_pull.yml
Due: none

[revert] disable most test jobs
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
Due: none

Rewrite PHP script
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
Due: none

Point to different mirror
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
  maintainer/gh_post_status.sh
Due: none

Rewrite as github actions
  .github/workflows/gitlab.yml
Due: none

show_script
  .gitlab-ci.yml
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
