Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

walberla
  .github/workflows/build.yml
Due: none

fixup
  .github/workflows/build.yml
Due: none

CI: Add Windows runner using WSL
  .github/workflows/build.yml
Due: none

CI: Fix root issue in Windows runner
  .github/workflows/build.yml
Due: none

Replace double with real_t: step3
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/MRT_LatticeModel.cpp
Due: clang-format

Replace double with real_t: step1
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.h
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/MRT_LatticeModel.h
Due: clang-format

Replace double with real_t: step2
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.h
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/MRT_LatticeModel.cpp
  src/core/grid_based_algorithms/MRT_LatticeModel.h
Due: clang-format

core: Remove unused global variables
  src/core/grid_based_algorithms/lb-d3q19.hpp
  src/core/grid_based_algorithms/lb_boundaries.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Replace double with real_t: step4
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.h
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19MRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19TRT.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/MRT_LatticeModel.cpp
  src/core/grid_based_algorithms/MRT_LatticeModel.h
Due: clang-format

Fix -Wfloat-conversion
  CMakeLists.txt
  src/core/DomainDecomposition.cpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum.hpp
  src/core/grid.cpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.hpp
  src/core/unit_tests/LbWalberla.cpp
  src/python/espressomd/electrostatics.pyx
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/checks/charge_neutrality.hpp
  src/utils/include/utils/interpolation/detail/ll_and_dist.hpp
  src/utils/include/utils/sampling.hpp
Due: clang-format, autopep8

Replace double with real_t: step5
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

switch LB checkpointing to boost::serialization
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

CI: Pin boost version
  .github/workflows/build.yml
Due: none

MWE
  .github/workflows/build.yml
  mwe.cc
Due: none

core: Add orientation
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/tests/coordinate_transformation.cpp
Due: clang-format

core: Add bond variant
  src/core/bonded_interactions/angle_cosine.cpp
  src/core/bonded_interactions/angle_cossquare.cpp
  src/core/bonded_interactions/angle_harmonic.cpp
  src/core/bonded_interactions/bonded_coulomb.cpp
  src/core/bonded_interactions/bonded_coulomb_sr.cpp
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_tab.cpp
  src/core/bonded_interactions/dihedral.cpp
  src/core/bonded_interactions/fene.cpp
  src/core/bonded_interactions/harmonic.cpp
  src/core/bonded_interactions/quartic.cpp
  src/core/bonded_interactions/thermalized_bond.cpp
Due: clang-format

core: Store number of partners in struct
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_tab.cpp
  src/core/collision.cpp
Due: clang-format

core: Make bonded interactions serializable
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_tab.cpp
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/interactions.cpp
Due: clang-format

python: Implement bond variant for FENE
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/collision.cpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
Due: clang-format, autopep8

python: Remove numpy aliases of builtin types
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pyx
  src/python/object_in_fluid/oif_classes.py
Due: autopep8

CI: Skip long tests in macOS sanitizers build
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

reduce test space
  .github/workflows/push_pull.yml
  CMakeLists.txt
  testsuite/python/CMakeLists.txt
Due: none

fixup
  .github/actions/build_and_check/action.yml
Due: none

use default
  .github/actions/build_and_check/action.yml
Due: none

debug
  .github/actions/build_and_check/action.yml
  maintainer/CI/build_cmake.sh
  src/utils/include/utils/Histogram.hpp
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/shapes.py
Due: clang-format, autopep8

guards
  src/utils/include/utils/Histogram.hpp
  testsuite/python/shapes.py
Due: clang-format, autopep8

fixup
  src/script_interface/shapes/Union.hpp
  src/utils/include/utils/Histogram.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/observable_cylindricalLB_nointerface.py
Due: clang-format, autopep8

core: rattle: rename p_old to p_last_timestep
  src/core/Particle.hpp
  src/core/rattle.cpp
  src/core/rattle.hpp
Due: clang-format

core: Particle: added rattle particle property
  src/core/Particle.hpp
Due: clang-format

unit_test: Particle: added unit-tests for particle property
  src/core/unit_tests/Particle_test.cpp
Due: clang-format

core: CellStructure: ghost communication for particle property
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
Due: clang-format

core: rattle: merged rattle calculations, added early breakout, cleanup
  src/core/rattle.cpp
Due: clang-format

core: rattle: rollout of particle property, small cleanup
  src/core/rattle.cpp
Due: clang-format

core: rattle: move correction to ParticleLocal
  src/core/Particle.hpp
  src/core/rattle.cpp
Due: clang-format

core: Fix undefined behavior
  src/core/statistics.cpp
Due: clang-format

core: Refactor structure factor code
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  testsuite/python/sf_simple_lattice.py
Due: clang-format, autopep8

tests: Simplify structure factor testcase
  testsuite/python/sf_simple_lattice.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
