Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

show_script
  .gitlab-ci.yml
  maintainer/gh_post_status.sh
Due: none

fixup
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
Due: none

action
  .github/actions/gitlab.yml
Due: none

action
  .github/actions/gitlab/gitlab.yml
Due: none

action
  .github/actions/gitlab/action.yml
Due: none

parameters
  .github/actions/gitlab/action.yml
  .github/workflows/push_pull.yml
Due: none

workflow_call
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
Due: none

paths
  .github/workflows/gitlab.yml
Due: none

print_stats
  .github/workflows/gitlab.yml
Due: none

environment
  .github/workflows/gitlab.yml
Due: none

debug
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
Due: none

secret
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
Due: none

revert
  .github/workflows/gitlab.yml
Due: none

api
  .github/workflows/gitlab.yml
Due: none

permissions
  .github/workflows/push_pull.yml
Due: none

token
  .github/workflows/gitlab.yml
Due: none

statuses
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
  maintainer/gh_post_status.sh
Due: none

json
  maintainer/gh_post_status.sh
Due: none

debug
  maintainer/gh_post_status.sh
Due: none

quotes
  maintainer/gh_post_status.sh
Due: none

Factor out code duplication
  .github/workflows/gitlab.yml
  .github/workflows/push_pull.yml
  maintainer/gh_post_status.sh
Due: none

split
  .github/workflows/mirror.yml
  .github/workflows/run_tests.yml
Due: none

scripts
  .github/workflows/gitlab.yml
  .github/workflows/mirrors.yml
Due: none

Update dependency requirements (#5181)
  .github/workflows/push_pull.yml
  CMakeLists.txt
  cmake/espresso_myconfig.cmake
  requirements.txt
  src/config/myconfig-default.hpp
  src/core/aosoa_pack.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/p3m.cpp
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/short_range_cabana.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/constraint_shape_based.py
  testsuite/python/field_test.py
Due: clang-format, autopep8

Guard against verlet list overflow (#5184)
  src/core/cell_system/CellStructure.hpp
  src/core/custom_verlet_list.hpp
  src/core/integrate.cpp
  src/core/short_range_cabana.hpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8

Lift restriction on NumPy version
  requirements.txt
Due: none

Modernize tests
  src/utils/tests/serialization_test.cpp
  testsuite/python/contact_time.py
Due: clang-format, autopep8

parallel particle slice getter (#5183)
  src/python/espressomd/particle_data.py
  src/script_interface/Variant.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/get_particles_properties_test.cpp
  testsuite/python/particle_slice.py
Due: clang-format, autopep8

Ek flux boundary continuity (#5064)
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/EKSpeciesSlice.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_boundary.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_slice.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Fixed fene bond breakage on compression (#5195)
  src/core/bonded_interactions/fene.hpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8

Fix regressions
  .gitlab-ci.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  src/core/actor/traits.hpp
  src/core/algorithm/periodic_fold.hpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/p3m.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cuh
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/data_struct.hpp
  src/core/particle_reduction.hpp
  src/core/short_range_cabana.hpp
  src/python/CMakeLists.txt
  src/shapes/src/SimplePore.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/serialization/variant.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  src/walberla_bridge/src/utils/types_conversion.hpp
  testsuite/python/ek_interface.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Remove library-specific Clang-Tidy rule exceptions
  .clang-tidy
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/p3m/CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
Due: none

Short range force performance (#5191)
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/solver.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/pressure_inline.hpp
  src/core/short_range_cabana.hpp
  testsuite/python/caliper.py
Due: clang-format, autopep8

Remove unused check_complex_residuals option
  src/core/electrostatics/p3m.impl.hpp
  src/core/fft/fft.cpp
  src/core/fft/fft.hpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/data_struct.hpp
  src/python/espressomd/electrostatics.py
  src/script_interface/electrostatics/CoulombP3M.hpp
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_interface.py
  testsuite/python/icc_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Refactor P3M algorithm
  src/core/algorithm/periodic_fold.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m.impl.hpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/interpolation.hpp
  src/core/pressure_inline.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/ElectrostaticLayerCorrection.hpp
  src/script_interface/electrostatics/initialize.cpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Due: clang-format

Add Boltzmann inversion tutorial (#5187)
  doc/tutorials/CMakeLists.txt
  doc/tutorials/boltzmann_inversion/CMakeLists.txt
  doc/tutorials/boltzmann_inversion/NotesForTutor.md
  doc/tutorials/boltzmann_inversion/boltzmann_inversion.ipynb
  testsuite/tutorials/CMakeLists.txt
  testsuite/tutorials/test_boltzmann_inversion.py
Due: autopep8

Document parallel plates use case of Wall shape
  doc/sphinx/constraints.rst
Due: none

Use GNU GSL library in MMM1D
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/magnetostatics.rst
  maintainer/configs/no_rotation.hpp
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/electrostatics/CMakeLists.txt
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/mmm-modpsi.cpp
  src/core/electrostatics/mmm1d.cpp
  src/core/electrostatics/mmm1d.hpp
  src/core/electrostatics/specfunc.cpp
  src/core/electrostatics/specfunc.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/specfunc_test.cpp
  src/python/espressomd/electrostatics.py
  src/script_interface/electrostatics/CoulombMMM1D.hpp
  src/script_interface/electrostatics/initialize.cpp
  testsuite/python/coulomb_interface.py
  testsuite/python/long_range_actors.py
  testsuite/python/mmm1d.py
Due: clang-format, autopep8

Add support for the CrayClang compiler toolchain
  CMakeLists.txt
  doc/sphinx/installation.rst
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/communication.cpp
  src/python/espressomd/CMakeLists.txt
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/CMakeLists.txt
Due: clang-format

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none
