Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Fix checkpointing of systems without a time step (#5365)
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/system/System.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_time_step_restore.py
Due: clang-format, autopep8

Fix fractal_dimension argument parsing (#5374)
  src/python/espressomd/cluster_analysis.py
  src/script_interface/cluster_analysis/Cluster.hpp
  testsuite/python/cluster_analysis.py
Due: clang-format, autopep8

Add noise term in dpd pressure calculation (#5332)
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/pressure.cpp
  src/core/pressure_cabana.hpp
  testsuite/python/dpd.py
  testsuite/samples/test_dpd.py
Due: clang-format, autopep8

Fix pressure tensor sign and ordering conventions (#5398)
  doc/sphinx/analysis.rst
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/observables/DPDPressure.hpp
  src/core/pressure_cabana.hpp
  src/core/pressure_inline.hpp
  src/core/virtual_sites/relative.cpp
  src/python/espressomd/analyze.py
  src/python/espressomd/observables.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/observables/ParamlessObservable.hpp
  src/script_interface/observables/initialize.cpp
  testsuite/python/dpd.py
  testsuite/python/pressure.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

core/pressure: fix DPD virial dropping excluded pairs (#5343)
  src/core/forces_cabana.hpp
  testsuite/python/dpd.py
Due: clang-format, autopep8

core/accumulators: fix Correlator::finalize() discarding compression results (#5335)
  src/core/accumulators/Correlator.cpp
  testsuite/python/accumulator_correlator.py
Due: clang-format, autopep8

shapes: initialize SpheroCylinder::m_direction to 1.0 in default constructor (#5344)
  src/shapes/include/shapes/SpheroCylinder.hpp
  src/shapes/unit_tests/CMakeLists.txt
  src/shapes/unit_tests/SpheroCylinder_test.cpp
Due: clang-format

shapes: fix Torus::calculate_dist producing NaN for particles on the torus axis (#5346)
  samples/visualization_constraints.py
  src/script_interface/shapes/Shape.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/Constraints_test.cpp
  src/shapes/include/shapes/Torus.hpp
  src/shapes/src/Torus.cpp
  src/shapes/unit_tests/CMakeLists.txt
  src/shapes/unit_tests/Torus_test.cpp
  testsuite/python/constraint_shape_based.py
  testsuite/python/shapes.py
Due: clang-format, autopep8

utils: guard Vector::normalized() against zero-length vectors (#5349)
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
Due: clang-format

core: fix non-finite FENE energy under compression (#5352)
  src/core/bonded_interactions/fene.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/fene_test.cpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8

core/io: fix H5MD charge/force sharing the same enum bit (bug-sweep #39) (#5366)
  src/core/io/writer/h5md_core.hpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

analysis: raise instead of NaN for empty particle types (#5372)
  src/core/analysis/statistics.cpp
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_mass_related.py
Due: clang-format, autopep8

magnetostatics: require 'prefactor' for DipolarP3M (bug-sweep #55) (#5378)
  src/python/espressomd/magnetostatics.py
  testsuite/python/dipolar_interface.py
Due: autopep8

Fix LBWalberla ghost communication (#5382)
  src/core/lb/LBWalberla.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

Add EK species/container tau cross-check (#5383)
  src/script_interface/walberla/EKContainer.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

script_interface: fix LB node _population OOB read (#5384)
  src/script_interface/walberla/LBFluidNode.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8

observables: honor documented LBVelocityProfile optional defaults (#5375)
  src/script_interface/observables/LBProfileObservable.hpp
  testsuite/python/observables.py
Due: clang-format, autopep8

Improve compiler support (#5394)
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/MpiCallbacks.hpp
  src/core/cuda/utils.cuh
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/data_struct.hpp
  src/core/random.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/script_interface/CMakeLists.txt
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/tests/CMakeLists.txt
  src/utils/include/utils/device_qualifier.hpp
  src/utils/include/utils/uniform.hpp
  src/walberla_bridge/CMakeLists.txt
Due: clang-format

analysis: accept p_type=-1 for center_of_mass and angular_momentum (#5373)
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_mass_related.py
Due: clang-format, autopep8

Add support for C++26 (#5397)
  .github/actions/build_and_check/action.yml
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  src/script_interface/tests/AutoParameters_test.cpp
  testsuite/python/caliper.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/lb.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

analysis: reject calc_rh for chains shorter than 2 beads (#5371)
  src/core/analysis/statistics_chain.cpp
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_chains.py
Due: clang-format, autopep8

Fix TabulatedPotential expression for constant potentials (#5369)
  src/core/TabulatedPotential.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/TabulatedPotential_test.cpp
  src/utils/include/utils/linear_interpolation.hpp
Due: clang-format

Make ParticleSlice getter return pid-sorted values (#5336)
  src/script_interface/particle_data/ParticleSlice.hpp
  testsuite/python/particle_slice.py
Due: clang-format, autopep8

Add noise term in dpd pressure calculation (#5332)
  src/core/dpd.cpp
  src/core/dpd.hpp
  testsuite/python/dpd.py
  testsuite/samples/test_dpd.py
Due: clang-format, autopep8

Fix exclusion check for ghost particles (#5334)
  src/core/exclusions.hpp
  testsuite/python/exclusions.py
Due: clang-format, autopep8

core/io: fix H5MD time/step datasets off-by-one vs value datasets (#5342)
  src/core/io/writer/h5md_core.cpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

Fix change_reaction_constant rejecting odd reaction_ids (#5339)
  src/python/espressomd/reaction_methods.py
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Remove profiler
  src/python/espressomd/reaction_methods.py
Due: autopep8

reaction_methods: fix order_n exclusion-range check on multiple ranks (bug-sweep #7) (#5386)
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
Due: clang-format

Fix recalc_forces flag in integrator (#5350)
  src/script_interface/integrators/Integrator.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_recalc_forces.py
Due: clang-format, autopep8

Fix Clang build
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
Due: clang-format

Split the ek tutorial (#5405)
  doc/tutorials/Readme.md
  doc/tutorials/electrokinetics/CMakeLists.txt
  doc/tutorials/electrokinetics/Readme.md
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/electrokinetics/electrokinetics_part1_advection_diffusion.ipynb
  doc/tutorials/electrokinetics/electrokinetics_part2_electroosmotic_flow.ipynb
  doc/tutorials/electrokinetics/electrokinetics_part3_reactive_flow.ipynb
  testsuite/tutorials/CMakeLists.txt
  testsuite/tutorials/test_electrokinetics_1.py
  testsuite/tutorials/test_electrokinetics_2.py
  testsuite/tutorials/test_electrokinetics_3.py
Due: autopep8

Fix regressions in the cell structure (#5406)
  src/core/lb/particle_coupling.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/particle_node.cpp
  src/core/unit_tests/BoxGeometry_test.cpp
  src/core/unit_tests/p3m_test.cpp
Due: clang-format

Restore full CI pipeline
  .gitlab-ci.yml
  src/core/reaction_methods/ExclusionRadius.cpp
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/system.py
  src/script_interface/reaction_methods/ExclusionRadius.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/system/System.cpp
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Remove API workarounds
  CMakeLists.txt
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/system.py
  src/python/espressomd/utils.pyx
  src/script_interface/reaction_methods/ExclusionRadius.hpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Upgrade pyMBE
  .github/workflows/push_pull.yml
Due: none
