Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

progress
  .gitlab-ci.yml
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/core/unit_tests/p3m_test.cpp
  src/shapes/include/shapes/Ellipsoid.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/sqr.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/Vector_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
  testsuite/python/lb.py
  testsuite/python/lb_boundary_ghost_layer.py
Due: clang-format, autopep8

fft
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_error_cuda.cu
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/fft.cpp
  src/core/p3m/fft.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/influence_function_dipolar.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/cuda_test.cu
  src/core/unit_tests/fft_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/abs.hpp
  src/utils/include/utils/math/sinc.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/abs_test.cpp
  src/utils/tests/sinc_test.cpp
Due: clang-format

Revert "fft"
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_error_cuda.cu
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/fft.cpp
  src/core/p3m/fft.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/influence_function_dipolar.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/cuda_test.cu
  src/core/unit_tests/fft_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/abs.hpp
  src/utils/include/utils/math/sinc.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/abs_test.cpp
  src/utils/tests/sinc_test.cpp
Due: clang-format

Revert "progress"
  .gitlab-ci.yml
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/core/unit_tests/p3m_test.cpp
  src/shapes/include/shapes/Ellipsoid.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/sqr.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/Vector_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
  testsuite/python/lb.py
  testsuite/python/lb_boundary_ghost_layer.py
Due: clang-format, autopep8

all_wo_vector
  .gitlab-ci.yml
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/core/unit_tests/p3m_test.cpp
  src/shapes/include/shapes/Ellipsoid.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/sqr.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/Vector_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
  testsuite/python/lb.py
  testsuite/python/lb_boundary_ghost_layer.py
Due: clang-format, autopep8

vec_1
  src/utils/include/utils/Vector.hpp
Due: clang-format

vec_2
  src/utils/include/utils/Vector.hpp
Due: clang-format

Revert "vec_2"
  src/utils/include/utils/Vector.hpp
Due: clang-format

Revert "vec_1"
  src/utils/include/utils/Vector.hpp
Due: clang-format

step
  src/utils/include/utils/Vector.hpp
Due: clang-format

p1
  src/utils/include/utils/Vector.hpp
Due: clang-format

noconstexpr
  src/utils/include/utils/Vector.hpp
Due: clang-format

noexplicit
  src/utils/include/utils/Vector.hpp
Due: clang-format

no_span_ctor
  src/utils/include/utils/Vector.hpp
Due: clang-format

nospan
  src/utils/tests/Vector_test.cpp
Due: clang-format

progress
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/math.hpp
  src/core/unit_tests/math_test.cpp
  src/utils/include/utils/Vector.hpp
Due: clang-format

progress
  src/utils/include/utils/Vector.hpp
Due: clang-format

convert
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
Due: clang-format

compilers
  CMakeLists.txt
Due: none

step
  src/core/p3m/fft.cpp
  src/core/p3m/fft.hpp
  src/core/p3m/math.hpp
  src/core/unit_tests/fft_test.cpp
  testsuite/scripts/tutorials/test_ferrofluid_1.py
Due: clang-format, autopep8

EESS: show avail
  .github/workflows/deploy.yml
  .github/workflows/eessi.yml
  .github/workflows/push_pull.yml
Due: none

Run pyMBE in CI
  .github/workflows/eessi.yml
Due: none

CMake: Disable in-place builds
  CMakeLists.txt
Due: none

CMake: Simplify targets definition
  CMakeLists.txt
  src/profiler/CMakeLists.txt
Due: none

Bump instrumentation requirements
  CMakeLists.txt
  doc/sphinx/running.rst
Due: none

fpe
  .github/workflows/push_pull.yml
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/fpe.cpp
Due: clang-format

step
  .github/workflows/push_pull.yml
  src/core/unit_tests/fpe.cpp
Due: clang-format

step
  src/core/unit_tests/fpe.cpp
Due: clang-format

return
  src/core/unit_tests/fpe.cpp
Due: clang-format

testsuite
  .github/workflows/push_pull.yml
  src/core/unit_tests/CMakeLists.txt
Due: none

Revert "testsuite"
  .github/workflows/push_pull.yml
  src/core/unit_tests/CMakeLists.txt
Due: none

arm-specific
  src/core/unit_tests/fpe.cpp
Due: clang-format

rewrite
  src/core/unit_tests/fpe.cpp
Due: clang-format

simplify
  src/core/unit_tests/fpe.cpp
Due: clang-format

bugfix
  src/core/unit_tests/fpe.cpp
Due: clang-format

progress
  src/core/unit_tests/fpe.cpp
Due: clang-format

disable main test on Apple
  src/core/unit_tests/fpe.cpp
Due: clang-format

fixup
  src/core/unit_tests/fpe.cpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
