Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

Fix fits_in_box check for Interpolation-Based Constraints (#5324)
  src/core/field_coupling/fields/Interpolated.hpp
  src/script_interface/tests/Constraints_test.cpp
  testsuite/python/field_test.py
Due: clang-format, autopep8

added slice setter and getter for indexed reactions (#5325)
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKIndexedReactionSlice.cpp
  src/script_interface/walberla/EKIndexedReactionSlice.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/reactions/EKReactionBaseIndexed.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

Fix Particle Feature Assertions (#5326)
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/particle_data/ParticleList.cpp
  testsuite/python/particle.py
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8

Fix EKin slice/node getters and VTK output (#5327)
  doc/sphinx/ek.rst
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKIndexedReactionSlice.cpp
  src/script_interface/walberla/EKNone.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverNone.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_diffusive_flux.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_fluctuations.py
  testsuite/python/ek_indexed_reactions.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_slice.py
  testsuite/python/lattice_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Update release notes
  AUTHORS
  CHANGELOG.md
Due: none

Update version number to 5.0.1
  CHANGELOG.md
  CMakeLists.txt
Due: none

Update CI/CD workflows (#5330)
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
  testsuite/python/CMakeLists.txt
  testsuite/python/lattice_vtk.py
Due: autopep8

Add 5.0.1 release notes (#5331)
  AUTHORS
  CHANGELOG.md
  CMakeLists.txt
  Readme.md
  doc/sphinx/introduction.rst
  doc/tutorials/Readme.md
Due: none

Dihedral pressure tensor (#5322)
  src/core/bond_pressure_kokkos.hpp
  src/core/forces_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  testsuite/python/interactions_dihedral.py
Due: clang-format, autopep8

core/accumulators: fix Correlator::finalize() discarding compression results (#5335)
  src/core/accumulators/Correlator.cpp
  testsuite/python/accumulator_correlator.py
Due: clang-format, autopep8

shapes: initialize SpheroCylinder::m_direction to 1.0 in default constructor (#5344)
  src/shapes/include/shapes/SpheroCylinder.hpp
  src/shapes/unit_tests/CMakeLists.txt
  src/shapes/unit_tests/SpheroCylinder_test.cpp
Due: clang-format

shapes: fix Torus::calculate_dist producing NaN for particles on the torus axis (#5346)
  samples/visualization_constraints.py
  src/script_interface/shapes/Shape.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/Constraints_test.cpp
  src/shapes/include/shapes/Torus.hpp
  src/shapes/src/Torus.cpp
  src/shapes/unit_tests/CMakeLists.txt
  src/shapes/unit_tests/Torus_test.cpp
  testsuite/python/constraint_shape_based.py
  testsuite/python/shapes.py
Due: clang-format, autopep8

core: fix non-finite FENE energy under compression (#5352)
  src/core/bonded_interactions/fene.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/fene_test.cpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8

utils: guard Vector::normalized() against zero-length vectors (#5349)
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
Due: clang-format

script_interface: fix LB node _population OOB read (#5384)
  src/script_interface/walberla/LBFluidNode.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8

utils: fully reset RunningAverage in clear() (#5379)
  src/utils/include/utils/statistics/RunningAverage.hpp
  src/utils/tests/RunningAverage_test.cpp
Due: clang-format

core/io: fix H5MD charge/force sharing the same enum bit (bug-sweep #39) (#5366)
  src/core/io/writer/h5md_core.hpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

Fix RuntimeErrorStream copy ctor (#5380)
  src/core/error_handling/RuntimeErrorStream.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/RuntimeErrorStream_test.cpp
Due: clang-format

Add EK species/container tau cross-check (#5383)
  src/script_interface/walberla/EKContainer.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

Fix LBWalberla ghost communication (#5382)
  src/core/lb/LBWalberla.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

magnetostatics: require 'prefactor' for DipolarP3M (bug-sweep #55) (#5378)
  src/python/espressomd/magnetostatics.py
  testsuite/python/dipolar_interface.py
Due: autopep8

analysis: raise instead of NaN for empty particle types (#5372)
  src/core/analysis/statistics.cpp
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_mass_related.py
Due: clang-format, autopep8

Reduce code duplication (#5390)
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/p3m/common.hpp
  src/python/espressomd/electrostatics.py
Due: clang-format, autopep8

observables: honor documented LBVelocityProfile optional defaults (#5375)
  src/script_interface/observables/LBProfileObservable.hpp
  testsuite/python/observables.py
Due: clang-format, autopep8

Improve compiler support (#5394)
  CMakeLists.txt
  libs/Random123-1.09/include/Random123/features/nvccfeatures.h
  src/core/CMakeLists.txt
  src/core/MpiCallbacks.hpp
  src/core/aosoa_pack.hpp
  src/core/cuda/utils.cuh
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/data_struct.hpp
  src/core/random.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/script_interface/CMakeLists.txt
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/tests/CMakeLists.txt
  src/utils/include/utils/device_qualifier.hpp
  src/utils/include/utils/uniform.hpp
  src/walberla_bridge/CMakeLists.txt
Due: clang-format

Update images
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
Due: none

tests
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

analysis: accept p_type=-1 for center_of_mass and angular_momentum (#5373)
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_mass_related.py
Due: clang-format, autopep8

Remove deprecated array comparison (P2865R6)
  src/script_interface/tests/AutoParameters_test.cpp
Due: clang-format

Support C++26's new std::to_string implementation
  testsuite/python/integrator_exceptions.py
  testsuite/python/lb.py
  testsuite/python/reaction_methods_interface.py
Due: autopep8

Fold action
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

hdf5-parallel
  .github/workflows/push_pull.yml
Due: none

Add support for C++26 (#5397)
  .github/actions/build_and_check/action.yml
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  src/script_interface/tests/AutoParameters_test.cpp
  testsuite/python/caliper.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/lb.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

analysis: reject calc_rh for chains shorter than 2 beads (#5371)
  src/core/analysis/statistics_chain.cpp
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_chains.py
Due: clang-format, autopep8

Add virial contribution for rigid bonds (#5388)
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/integrate.cpp
  src/core/integrators/Propagation.hpp
  src/core/pressure.cpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_exceptions.py
  testsuite/python/rigid_bond_virial.py
  testsuite/python/rigid_bond_virial_stats.py
Due: clang-format, autopep8

Fix TabulatedPotential expression for constant potentials (#5369)
  src/core/TabulatedPotential.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/TabulatedPotential_test.cpp
  src/utils/include/utils/linear_interpolation.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
