Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

[no-ci] Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

[skip ci] readme
  .devcontainer/Readme.md
  .devcontainer/devcontainer.json
Due: none

[skip ci] readme
  .devcontainer/devcontainer.json
Due: none

Replace Gitpod with Codespaces
  .devcontainer/Readme.md
  .devcontainer/devcontainer.json
  .gitpod.yml
  Readme.md
  doc/bibliography.bib
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
  doc/tutorials/Readme.md
  maintainer/files_with_header.sh
Due: none

LJ Benchmark: skin retuning (#5131)
  maintainer/benchmarks/benchmarks.py
  maintainer/benchmarks/lj.py
Due: autopep8

Make Boltzmann inversion tutorial reproducible
  doc/tutorials/boltzmann_inversion/boltzmann_inversion.ipynb
Due: none

Fix typos
  doc/tutorials/boltzmann_inversion/boltzmann_inversion.ipynb
  doc/tutorials/charged_system/charged_system.ipynb
  doc/tutorials/electrodes/electrodes_part2.ipynb
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  src/core/bonds.cpp
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/electrostatics/elc.cpp
  src/core/system/System.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/python/espressomd/particle_data.py
  src/scafacos/include/scafacos/Coulomb.hpp
  src/script_interface/ObjectHandle.hpp
  src/utils/tests/accumulator_test.cpp
  src/utils/tests/bspline_test.cpp
  src/utils/tests/coordinate_transformation_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb.py
  testsuite/python/lb_lees_edwards_particle_coupling.py
  testsuite/python/lees_edwards.py
  testsuite/python/propagation_lb.py
  testsuite/python/regular_decomposition.py
  testsuite/python/virtual_sites_relative_pbc.py
Due: clang-format, autopep8

Remove superfluous transpose operations
  src/core/electrostatics/CMakeLists.txt
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m_heffte.cpp
  src/core/electrostatics/p3m_heffte.hpp
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/common.hpp
  src/core/p3m/field_layout_helpers.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/influence_function.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/fft_test.cpp
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
Due: clang-format

Implement real-to-complex transform
  src/core/electrostatics/p3m_heffte.cpp
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/common.hpp
  src/core/unit_tests/p3m_test.cpp
Due: clang-format

Disable flaky tests
  testsuite/python/lees_edwards.py
  testsuite/tutorials/test_grand_canonical_monte_carlo.py
Due: autopep8

Implement DipolarP3M with heFFTe
  src/core/fft/fft.hpp
  src/core/magnetostatics/CMakeLists.txt
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m_heffte.cpp
  src/core/magnetostatics/dp3m_heffte.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/data_struct.hpp
  src/core/p3m/influence_function_dipolar.hpp
  src/core/p3m/send_mesh.cpp
  src/core/p3m/send_mesh.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Due: clang-format

Introduce Magnetodynamics with thermal Stoner-Wohlfarth (#5188)
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  doc/bibliography.bib
  doc/sphinx/CMakeLists.txt
  doc/sphinx/index.rst
  doc/sphinx/installation.rst
  doc/sphinx/magnetodynamics.rst
  doc/sphinx/particles.rst
  maintainer/CI/build_cmake.sh
  maintainer/configs/maxset.hpp
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/Particle.hpp
  src/core/PropagationMode.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/lb/particle_coupling.hpp
  src/core/magnetostatics/CMakeLists.txt
  src/core/magnetostatics/stoner_wohlfarth_thermal.cpp
  src/core/magnetostatics/stoner_wohlfarth_thermal.hpp
  src/core/propagation.cpp
  src/core/random.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/unit_tests/Particle_serialization_test.cpp
  src/core/unit_tests/Particle_test.cpp
  src/core/virtual_sites/relative.cpp
  src/core/virtual_sites/relative.hpp
  src/python/espressomd/propagation.py
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/thermostat/thermostat.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_exceptions.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/thermal_stoner_wohlfarth.py
  testsuite/python/thermal_stoner_wohlfarth_fluid.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

Make VS relative thread-safe (#5212)
  src/core/cell_system/CellStructure.hpp
  src/core/virtual_sites/relative.cpp
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

Fix regressions
  src/core/magnetostatics/dp3m_heffte.cpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
Due: clang-format

Tie thermal Stoner-Wohlfarth to Langevin (#5216)
  doc/sphinx/magnetodynamics.rst
  src/core/integrate.cpp
  src/core/magnetostatics/stoner_wohlfarth_thermal.cpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/unit_tests/rotation_test.cpp
  src/script_interface/thermostat/thermostat.hpp
  testsuite/python/integrator_exceptions.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Improve performance of Cython script interface for nested array properties (#5209)
  src/python/espressomd/particle_data.py
  src/python/espressomd/script_interface.pyx
  src/script_interface/get_value.hpp
  src/script_interface/scafacos/scafacos.cpp
  src/script_interface/tests/get_value_test.cpp
Due: clang-format, autopep8

Center of mass virtual sites (#5199)
  doc/sphinx/particles.rst
  maintainer/configs/maxset.hpp
  maintainer/configs/no_rotation.hpp
  src/config/features.def
  src/config/myconfig-default.hpp
  src/core/Particle.hpp
  src/core/PropagationMode.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/propagation.cpp
  src/core/system/System.cpp
  src/core/unit_tests/Particle_test.cpp
  src/core/virtual_sites/CMakeLists.txt
  src/core/virtual_sites/com.cpp
  src/core/virtual_sites/com.hpp
  src/python/espressomd/particle_data.py
  src/python/espressomd/propagation.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/particle.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_center_of_mass.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

Clarify licensing (#5218)
  Readme.md
  cmake/FindCython.cmake
  doc/bibliography.bib
  doc/sphinx/conf.py.in
  doc/sphinx/integration.rst
  doc/sphinx/introduction.rst
  src/core/virtual_sites/relative.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/myintrin.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/philox_rand.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/myintrin.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/philox_rand.h
Due: clang-format

P3M shortcut
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
Due: clang-format

Add AGENT.md file to guide agentic coding tools (#5220)
  AGENT.md
Due: none

Move Cabana logic out of the main force function
  src/core/forces.cpp
Due: clang-format

Add P3M shortcut in the short-range loop
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  testsuite/python/particle.py
Due: clang-format, autopep8

Add interface for ASE calculators (#5162)
  doc/bibliography.bib
  samples/lj_liquid_ase.py
  src/python/espressomd/plugins/ase.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.py
  src/python/espressomd/zn.py
  testsuite/python/ase_interface.py
  testsuite/samples/CMakeLists.txt
  testsuite/samples/test_lj_liquid_ase.py
Due: autopep8

Roll out Leaf API in the waLBerla code
  src/core/ek/EKNone.hpp
  src/core/ek/EKWalberla.hpp
  src/core/ek/Solver.cpp
  src/core/lb/LBNone.hpp
  src/core/lb/LBWalberla.cpp
  src/core/lb/LBWalberla.hpp
  src/core/lb/Solver.cpp
  src/core/observables/SanityChecksLB.hpp
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/lb.py
  src/python/espressomd/particle_data.py
  src/python/espressomd/system.py
  src/script_interface/CMakeLists.txt
  src/script_interface/ek/CMakeLists.txt
  src/script_interface/ek/Container.hpp
  src/script_interface/ek/initialize.cpp
  src/script_interface/ek/initialize.hpp
  src/script_interface/initialize.cpp
  src/script_interface/lb/CMakeLists.txt
  src/script_interface/lb/Container.hpp
  src/script_interface/lb/initialize.cpp
  src/script_interface/lb/initialize.hpp
  src/script_interface/system/System.cpp
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/script_interface/walberla/LatticeModel.hpp
  src/script_interface/walberla/LatticeWalberla.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/ek_interface.py
  testsuite/python/lattice.py
  testsuite/python/lb.py
  testsuite/python/lb_lees_edwards.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8

Improve MPI Cartesian communicators management
  src/core/communication.cpp
  src/core/communication.hpp
  src/python/espressomd/checkpointing.py
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/cell_system/CellSystem.hpp
  src/script_interface/cell_system/initialize.cpp
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/EKSpeciesSlice.cpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/script_interface/walberla/LBFluidNode.cpp
  src/script_interface/walberla/LBFluidNode.hpp
  src/script_interface/walberla/LBFluidSlice.cpp
  src/script_interface/walberla/LBFluidSlice.hpp
  src/walberla_bridge/include/walberla_bridge/utils/ResourceManager.hpp
  src/walberla_bridge/include/walberla_bridge/walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/walberla_init.cpp
  src/walberla_bridge/tests/ResourceManager_test.cpp
  testsuite/python/ek_interface.py
  testsuite/python/lb.py
Due: clang-format, autopep8

Rename and document `Analysis.particle_energy()` (#5226)
  doc/sphinx/analysis.rst
  doc/sphinx/inter_non-bonded.rst
  src/core/energy.cpp
  src/python/espressomd/analyze.py
  src/python/espressomd/drude_helpers.py
  testsuite/python/analyze_energy.py
Due: clang-format, autopep8

Improve support for IntelLLVM compiler toolchain (#5223)
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  doc/sphinx/installation.rst
  src/config/check_myconfig.py
  src/config/gen_featureconfig.py
  src/config/include/config/config.hpp
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/unit_tests/CMakeLists.txt
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
  src/utils/include/utils/raster.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/raster_test.cpp
  src/walberla_bridge/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_potential.py
  testsuite/python/lb.py
  testsuite/python/lb_lees_edwards_particle_coupling.py
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

Improve LB+LEbc domain decomposition (#5228)
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lees_edwards.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.h
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_lees_edwards.py
  testsuite/python/lb_planar_couette.py
Due: clang-format, autopep8

Simplify VS COM interface
  doc/sphinx/particles.rst
  src/core/Particle.hpp
  src/core/unit_tests/Particle_test.cpp
  src/core/virtual_sites/com.cpp
  src/core/virtual_sites/com.hpp
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8

Unified Thermalized and Lees-Edwards Kernel Generation (#5231)
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionCUDA.h
Due: clang-format, autopep8

zndraw version update (#5217)
  doc/sphinx/installation.rst
  doc/tutorials/electrodes/electrodes_part2.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  requirements.txt
  src/python/espressomd/zn.py
Due: autopep8

Grand canonical Monte Carlo tutorial (#5229)
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/tests/SingleReaction_test.cpp
  src/core/reaction_methods/tests/reaction_methods_utils_test.cpp
  src/core/reaction_methods/utils.cpp
  src/core/reaction_methods/utils.hpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
  testsuite/python/reaction_trivial.py
  testsuite/tutorials/test_grand_canonical_monte_carlo.py
Due: clang-format, autopep8

Reactivate visualizer in raspberry tutorial (#5239)
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  src/python/espressomd/plugins/ase.py
Due: autopep8
