Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

[skip ci] Use same Monte Carlo RNG in core and python
  src/core/particle_node.cpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/system/System.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, autopep8

Fix regressions
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/grand_canonical.py
  src/core/particle_node.cpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/tutorials/test_grand_canonical_monte_carlo.py
Due: clang-format, autopep8

pyMBE quality assurance
  .github/workflows/push_pull.yml
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/system.py
Due: autopep8

dash
  .github/workflows/push_pull.yml
Due: none

tweaks
  .github/workflows/push_pull.yml
  maintainer/CI/build_cmake.sh
Due: none

tweaks
  .github/workflows/push_pull.yml
Due: none

pyMBE quality assurance
  .github/workflows/push_pull.yml
  maintainer/CI/build_cmake.sh
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/system.py
Due: autopep8

Improve NVHPC toolchain support (#5302)
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVHPC.cmake
  cmake/espresso_unit_test.cmake
  src/core/aosoa_pack.hpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/myintrin.h
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/myintrin.h
Due: clang-format

Drop extraneous hdf5 library/target commands that break HighFive (#5296)
  CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
Due: none

Rewrite features parser and config file generator (#5297)
  src/config/featuredefs.py
  src/config/gen_featureconfig.py
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/test_featuredefs.py
Due: autopep8

Improve NVHPC toolchain support (#5302)
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVHPC.cmake
  cmake/espresso_unit_test.cmake
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/myintrin.h
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/myintrin.h
Due: clang-format

Refactoring (#5305)
  CMakeLists.txt
  src/core/cell_system/CellStructure.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

Convert SingleReaction unit test
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/reaction_methods/tests/SingleReaction_test.cpp
  src/python/espressomd/reaction_methods.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Remove script interface tests
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
Due: clang-format

simplify the vtk_reader (#5303)
  src/python/espressomd/io/vtk.py
  testsuite/python/lattice_vtk.py
Due: autopep8

short-range force loop optimisations (#5285)
  src/core/BoxGeometry.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/for_each_particle.hpp
  src/core/electrostatics/icc.cpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/magnetostatics/stoner_wohlfarth_thermal.cpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/short_range_cabana.hpp
  src/core/short_range_cabana_helpers.hpp
  src/core/thermostats/langevin_inline.hpp
  src/core/unit_tests/VerletCriterion_test.cpp
  src/core/virtual_sites/com.cpp
  src/core/virtual_sites/relative.cpp
  testsuite/python/thermostats_anisotropic.py
Due: clang-format, autopep8

Fix EK testcase and add unit conversions (#5304)
  doc/sphinx/ek.rst
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/script_interface/walberla/EKPoissonSolverNode.cpp
  src/script_interface/walberla/EKPoissonSolverNode.hpp
  src/script_interface/walberla/EKPoissonSolverSlice.cpp
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverNone.hpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_none_init_cuda.cu
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/PoissonSolver_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_boundary.py
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_diffusive_flux.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_ext_efield.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_fluctuations.py
  testsuite/python/ek_fluid_coupling.py
  testsuite/python/ek_friction_coupling.py
  testsuite/python/ek_indexed_reactions.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_ion_conductivity.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_potential_periodic.py
  testsuite/python/ek_slice.py
  testsuite/python/lattice_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Fix cylindrical constraint
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/python/espressomd/reaction_methods.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

DPD: avoid std::pow() for standard ramps (#5300)
  src/core/dpd.hpp
  testsuite/python/dpd.py
Due: clang-format, autopep8

Disable deprecated Kokkos features (#5313)
  CMakeLists.txt
  src/core/cell_system/CellStructure.hpp
Due: clang-format

Delete C++ implementation
  doc/sphinx/particles.rst
  doc/sphinx/reaction_methods.rst
  doc/tutorials/boltzmann_inversion/boltzmann_inversion.ipynb
  samples/grand_canonical.py
  samples/reaction_methods.py
  samples/widom_insertion.py
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/reaction_methods/CMakeLists.txt
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/SingleReaction.hpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/core/reaction_methods/utils.cpp
  src/core/reaction_methods/utils.hpp
  src/core/unit_tests/ParticleFactory.hpp
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/system.py
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/SingleReaction.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  src/script_interface/reaction_methods/initialize.cpp
  src/script_interface/reaction_methods/initialize.hpp
  src/script_interface/system/System.cpp
  testsuite/python/canonical_ensemble.py
  testsuite/python/reaction_bookkeeping.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Bugfix
  src/python/espressomd/reaction_methods.py
Due: autopep8

step
  src/python/espressomd/system.py
Due: autopep8

Remove rogue method
  src/python/espressomd/reaction_methods.py
Due: autopep8

Exchanging from hand-made duplication View to ScatterView (#5310)
  src/core/CMakeLists.txt
  src/core/bond_forces_kokkos.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/custom_verlet_list.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
Due: clang-format

LE: avoid one std::round() call in distance calculation (#5301)
  src/core/lees_edwards/LeesEdwardsBC.hpp
Due: clang-format

Boundaries includable in lb and ek vtk (#5306)
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/LatticeModel.hpp
  src/walberla_bridge/include/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8

Fix acceptance probability API
  src/python/espressomd/reaction_methods.py
  testsuite/python/reaction_methods_interface.py
Due: autopep8

kokkos'ify pressure (#5298)
  src/core/bond_pressure_kokkos.hpp
  src/core/forces_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_cabana.hpp
  src/core/pressure_inline.hpp
Due: clang-format

Fix regressions (#5320)
  .pylintrc
  CMakeLists.txt
  doc/tutorials/boltzmann_inversion/boltzmann_inversion.ipynb
  doc/tutorials/grand_canonical_monte_carlo/CMakeLists.txt
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  maintainer/benchmarks/lb.py
  src/core/analysis/statistics.cpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/electrostatics/mmm-modpsi.cpp
  src/core/electrostatics/mmm1d.cpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/velocity_verlet_npt_MTK.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/npt.cpp
  src/core/p3m/TuningAlgorithm.hpp
  src/core/p3m/TuningLogger.hpp
  src/core/system/System.hpp
  src/python/espressomd/thermostat.py
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/thermostat/thermostat.hpp
  src/utils/tests/CMakeLists.txt
  testsuite/python/ibm.py
  testsuite/python/integrator_exceptions.py
  testsuite/tutorials/test_grand_canonical_monte_carlo.py
Due: clang-format, autopep8

Update documentation (#5319)
  CHANGELOG.md
  doc/sphinx/analysis.rst
  doc/sphinx/ek.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/inter_bonded.rst
  doc/sphinx/introduction.rst
  doc/sphinx/lb.rst
  doc/sphinx/particles.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  src/python/espressomd/__cinit__.py
  src/python/espressomd/analyze.py
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/electrostatics.py
  src/python/espressomd/lb.py
  src/python/espressomd/magnetostatics.py
  src/python/espressomd/observables.py
  src/python/espressomd/pair_criteria.py
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/thermostat.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
