Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

walberla
  CMakeLists.txt
Due: none

fix_regressions
  maintainer/CI/build_cmake.sh
  maintainer/CI/doc_warnings.sh
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

Drop support for pint 0.10
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
Due: autopep8

remove unused_test
  src/core/unit_tests/grid_test.cpp
  testsuite/python/lb_interpolation.py
Due: clang-format, autopep8

ci
  .gitlab-ci.yml
Due: none

run_all_jobs
  .gitlab-ci.yml
Due: none

doxygen
  src/config/include/config/config.hpp
Due: clang-format

images
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  maintainer/format/ex_flag.sh
  maintainer/lint/pre_commit.sh
Due: none

gh_cores
  .github/workflows/push_pull.yml
Due: none

bump_versions
  .gitlab-ci.yml
  doc/tutorials/polymers/polymers.ipynb
  maintainer/format/autopep8.sh
  requirements.txt
  src/python/espressomd/integrate.py
  testsuite/python/ek_interface.py
  testsuite/python/lattice_vtk.py
  testsuite/python/lb.py
  testsuite/python/observables.py
  testsuite/python/unittest_generator.py
  testsuite/scripts/tutorials/test_polymers.py
Due: autopep8

images
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
Due: none

bump_versions
  CMakeLists.txt
Due: none

packages
  .github/workflows/push_pull.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  maintainer/lint/pre_commit.sh
  src/python/espressomd/integrate.py
  testsuite/python/ek_interface.py
  testsuite/python/lattice_vtk.py
  testsuite/python/lb.py
  testsuite/python/observables.py
  testsuite/python/unittest_generator.py
Due: autopep8

fixes
  CMakeLists.txt
  testsuite/scripts/tutorials/test_polymers.py
Due: autopep8

fixes
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
Due: none

fixup
  .github/actions/build_and_check/action.yml
  maintainer/CI/jupyter_warnings.py
  src/core/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/script_interface/CMakeLists.txt
Due: autopep8

debuginfo
  .gitlab-ci.yml
Due: none

gh_macos
  .github/workflows/push_pull.yml
  requirements.txt
Due: none

debug
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

step
  .github/actions/build_and_check/action.yml
Due: none

fixup
  .github/actions/build_and_check/action.yml
  requirements.txt
Due: none

step
  .github/actions/build_and_check/action.yml
  maintainer/CI/build_cmake.sh
  maintainer/walberla_kernels/generate_lb_kernels.py
  requirements.txt
  testsuite/python/unittest_decorators.py
Due: autopep8

revert
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

debu
  .github/workflows/push_pull.yml
Due: none

no-ci-style
  .gitlab-ci.yml
Due: none

adjust CI variables
  .gitlab-ci.yml
  CMakeLists.txt
Due: none

commit_changes
  maintainer/CI/build_cmake.sh
Due: none

fixes
  src/core/cell_system/CellStructure.hpp
  src/core/cuda/common_cuda.cu
  src/core/cuda/init.hpp
  src/core/cuda/init_cuda.cu
  src/core/p3m/fft.cpp
  src/core/unit_tests/cuda_test_cuda.cu
Due: clang-format

fixup_32743d9e0
  src/python/espressomd/plugins/__init__.py
Due: autopep8

missing_file
  testsuite/cmake/test_install.sh
Due: none

progress
  .gitlab-ci.yml
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_error_cuda.cu
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/fft.cpp
  src/core/p3m/fft.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/influence_function_dipolar.hpp
  src/core/p3m/math.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/cuda_test.cu
  src/core/unit_tests/fft_test.cpp
  src/core/unit_tests/math_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/shapes/include/shapes/Ellipsoid.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/abs.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/sinc.hpp
  src/utils/include/utils/math/sqr.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/Vector_test.cpp
  src/utils/tests/abs_test.cpp
  src/utils/tests/sinc_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb.py
  testsuite/python/lb_boundary_ghost_layer.py
Due: clang-format, autopep8

formatting
  src/utils/tests/Vector_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
Due: clang-format

fixes
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/unit_tests/cuda_test.cu
Due: clang-format

cmake
  CMakeLists.txt
Due: none

formatting
  src/core/unit_tests/cuda_test.cu
Due: clang-format

macOS
  .github/workflows/push_pull.yml
Due: none
