Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

fixup
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/unit_tests/EspressoSystem_test.cpp
Due: clang-format

workaround
  src/core/communication.cpp
Due: clang-format

loop
  maintainer/CI/build_cmake.sh
  src/core/communication.cpp
Due: clang-format

progress
  CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

fixup
  maintainer/CI/build_cmake.sh
Due: none

run sequentially
  src/CMakeLists.txt
  src/core/CMakeLists.txt
Due: none

remove global
  src/CMakeLists.txt
  src/core/communication.cpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
Due: clang-format

mwe
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

vader
  CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

AB_testing_no_system
  CMakeLists.txt
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

override
  src/core/communication.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

no_callbacks
  src/core/communication.cpp
Due: clang-format

no_error_handling
  src/core/communication.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

no_errorhandling
  src/core/communication.cpp
Due: clang-format

tracking
  src/core/communication.cpp
Due: clang-format

delineate
  src/core/communication.cpp
Due: clang-format

revert_singleton
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

logging
  src/core/MpiCallbacks.hpp
  src/core/communication.cpp
  src/script_interface/tests/CMakeLists.txt
Due: clang-format

re-enable_init
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

restore_test
  src/core/unit_tests/ResourceCleanup_test.cpp
Due: clang-format

Fix MPI_Finalize bug
  src/core/MpiCallbacks.hpp
Due: clang-format

Bump CMake/Boost/Cython version requirements
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_override_clang_tidy_checks.cmake
  requirements.txt
  src/CMakeLists.txt
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/core/p3m/CMakeLists.txt
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoCoreGlobalConfig.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/ek_interface_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/unit_tests/particle_reduction_test.cpp
  src/python/espressomd/script_interface.pxd
  src/script_interface/tests/Accumulators_test.cpp
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/ParallelExceptionHandler_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
Due: clang-format, autopep8

Roll out Ninja build system
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  testsuite/benchmarks/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/samples/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/tutorials/CMakeLists.txt
Due: none

Bump waLBerla version requirements
  CMakeLists.txt
  cmake/walberla.patch
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  requirements.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
Due: clang-format, autopep8

Address extra compiler diagnostics
  CMakeLists.txt
  src/core/cell_system/HybridDecomposition.cpp
  src/core/electrostatics/p3m.cpp
  src/core/ghosts.cpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/particle_reduction.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/unit_tests/particle_reduction_test.cpp
  src/python/espressomd/CMakeLists.txt
  src/shapes/include/shapes/Union.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/shapes/src/Rhomboid.cpp
  src/utils/tests/bspline_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
Due: clang-format

CMake: Fix subproject options
  CMakeLists.txt
Due: none

Fix documentation issues
  doc/bibliography.bib
  doc/sphinx/CMakeLists.txt
  doc/sphinx/installation.rst
  doc/sphinx/integration.rst
  src/core/particle_reduction.hpp
Due: clang-format

EasyBuild for the development version
  maintainer/eessi/ESPResSo-5.0-foss-2023b.eb
  maintainer/eessi/Readme.md
  maintainer/eessi/espresso.patch
  maintainer/eessi/espresso.py
Due: autopep8

Kokkos AssignForces
  src/core/electrostatics/p3m.cpp
Due: clang-format

Caliper
  maintainer/benchmarks/p3m.py
  src/core/electrostatics/p3m.cpp
  src/core/integrate.cpp
Due: clang-format, autopep8

Kokkos AssignCharge
  src/core/electrostatics/p3m.cpp
  src/core/p3m/interpolation.hpp
  src/core/particle_reduction.hpp
Due: clang-format

Caliper [skip ci]
  src/core/electrostatics/p3m.cpp
Due: clang-format

Simplify version numbering
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/espresso_version.cmake
  doc/sphinx/introduction.rst
  src/config/CMakeLists.txt
  src/config/include/config/version.hpp.in
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/__init__.py
  src/python/espressomd/version.py
  src/script_interface/code_info/CodeInfo.hpp
  src/script_interface/code_info/CodeVersion.cpp
  src/script_interface/code_info/CodeVersion.hpp
  testsuite/python/code_info.py
Due: clang-format, autopep8

Remove espresso_config.so
  src/config/CMakeLists.txt
  src/config/gen_featureconfig.py
  src/config/src/CMakeLists.txt
  src/script_interface/code_info/CodeInfo.cpp
Due: clang-format, autopep8

Fix broken tests
  .gitlab-ci.yml
  testsuite/python/code_info.py
  testsuite/python/regular_decomposition.py
  testsuite/python/script_interface.py
Due: autopep8

Move OMP_NUM_THREADS default value to the C++ core
  src/core/communication.cpp
  src/python/pypresso.cmakein
Due: clang-format

Improve code portability
  CMakeLists.txt
  src/core/cuda/init.cpp
  src/core/cuda/init.hpp
  src/core/cuda/init_cuda.cu
  src/core/unit_tests/cuda_test.cu
  src/python/espressomd/cuda_init.py
  src/script_interface/system/CudaInitHandle.cpp
  testsuite/python/gpu_availability.py
Due: clang-format, autopep8

Set number of threads in samples/tutorials/benchmarks
  src/python/espressomd/cuda_init.py
  src/python/pypresso.cmakein
  testsuite/CMakeLists.txt
  testsuite/python/sigint.py
Due: autopep8
