Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Fix ZnDraw visualizer (#5092)
  src/python/espressomd/zn.py
Due: autopep8

Relax test tolerances
  testsuite/python/elc_vs_analytic.py
  testsuite/python/lb.py
  testsuite/python/lb_electrohydrodynamics.py
  testsuite/python/lb_lees_edwards_particle_coupling.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/oif_volume_conservation.py
  testsuite/python/p3m_fft.py
  testsuite/python/p3m_madelung.py
Due: autopep8

std::ranges algorithms
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

Optimize particle coupling
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests.cu
Due: clang-format

Handle histogram edge cases on ARM hardware
  .github/workflows/push_pull.yml
  maintainer/CI/build_cmake.sh
  src/utils/include/utils/Histogram.hpp
Due: clang-format

Fix range limits of profile and RDF observables
  src/core/observables/RDF.cpp
  src/python/espressomd/observables.py
  src/utils/include/utils/Histogram.hpp
Due: clang-format, autopep8

dpd_pair_force without particle params (#5105)
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/forces_inline.hpp
Due: clang-format

Optimize particle coupling
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

Combine force reset and langevin force into single for_each_particle (#5112)
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/integrate.cpp
  src/core/system/System.hpp
  testsuite/python/caliper.py
Due: clang-format, autopep8

Remove boost::string_ref
  src/python/espressomd/boost.pxd
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/electrostatics/ElectrostaticLayerCorrection.hpp
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/magnetostatics/DipolarLayerCorrection.hpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
Due: clang-format, autopep8

Bump requirements
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  doc/sphinx/installation.rst
Due: none

CMake: Define C++ and CUDA standards per target
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/espresso_unit_test.cmake
  src/config/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/p3m/CMakeLists.txt
  src/instrumentation/CMakeLists.txt
  src/particle_observables/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/include/utils/Vector.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/Vector_test.cpp
  src/walberla_bridge/CMakeLists.txt
Due: clang-format

Kokkos AssignForces
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/p3m/interpolation.hpp
  src/core/particle_reduction.hpp
Due: clang-format

Parallel check_resort_required (#5118)
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
Due: clang-format

Fix LB boundaries bug on GPU
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_sedimentation.ipynb
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  src/walberla_bridge/include/walberla_bridge/LatticeWalberla.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/LatticeWalberla.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_boundary.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/observable_cylindricalLB.py
Due: clang-format, autopep8

Improve LB observables performance
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  src/core/lb/LBNone.hpp
  src/core/lb/LBWalberla.cpp
  src/core/lb/LBWalberla.hpp
  src/core/lb/Solver.cpp
  src/core/lb/Solver.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfile.hpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/observables/LBVelocityProfile.hpp
  src/core/observables/ProfileObservable.hpp
  src/core/observables/SanityChecksLB.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

LB refactoring
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/LBProfileObservable.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8

Fix UTF-8 support
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pyx
  src/script_interface/tests/get_value_test.cpp
  testsuite/python/lattice_vtk.py
  testsuite/python/utils.py
Due: clang-format, autopep8

Use std::filesystem::path and pathlib.Path
  CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/h5md_specification.hpp
  src/python/espressomd/checkpointing.py
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/io/mpiio.py
  src/python/espressomd/io/writer/h5md.py
  src/python/espressomd/lb.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pxd
  src/script_interface/Variant.hpp
  src/script_interface/get_value.hpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/mpiio/mpiio.hpp
  src/script_interface/packed_variant.hpp
  src/script_interface/tests/get_value_test.cpp
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/script_interface/walberla/WalberlaCheckpoint.hpp
  src/utils/include/utils/serialization/filesystem.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  testsuite/python/h5md.py
  testsuite/python/lattice_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

ZnDraw register function (#5115)
  src/python/espressomd/zn.py
Due: autopep8

Remove communication overhead in particle update
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/particle.py
Due: clang-format, autopep8

Remove unused utility functions
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  src/core/communication.hpp
  src/core/error_handling/RuntimeError.cpp
  src/core/error_handling/RuntimeError.hpp
  src/core/error_handling/RuntimeErrorCollector.cpp
  src/core/error_handling/RuntimeErrorCollector.hpp
  src/core/error_handling/RuntimeErrorStream.hpp
  src/core/errorhandling.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/particle_node.cpp
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/get.hpp
  src/utils/include/utils/mask.hpp
  src/utils/include/utils/math/matrix_vector_product.hpp
  src/utils/tests/Array_test.cpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/Vector_test.cpp
  src/utils/tests/mask_test.cpp
  src/utils/tests/matrix_vector_product_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
Due: clang-format, autopep8

Document recursive variant
  src/script_interface/Variant.hpp
Due: clang-format

Relax bspline range checks tolerance
  src/utils/include/utils/math/bspline.hpp
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

Shared memory parallelization for short range forces (#5097)
  CMakeLists.txt
  src/core/BoxGeometry.hpp
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/particle_enumeration.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/custom_verlet_list.hpp
  src/core/exclusions.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/npt.cpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/script_interface/code_info/CodeInfo.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/caliper.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/npt_thermostat.py
Due: clang-format, autopep8

make short-range electrostatic force thread-safe
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/solver.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
Due: clang-format

Formatting
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/solver.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
Due: clang-format

Improve resilience to file system latency
  maintainer/parsing/importlib_wrapper.py
  testsuite/test_importlib_wrapper.py
Due: autopep8

Adjust Cabana Verlet list size
  src/core/cell_system/CellStructure.cpp
  src/core/collision_detection/CollisionDetection.cpp
  src/core/integrate.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  testsuite/python/nsquare.py
Due: clang-format, autopep8

Remove redundant code
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/electrostatics/icc.cpp
  src/core/integrate.cpp
  src/utils/include/utils/math/bspline.hpp
  src/utils/tests/bspline_test.cpp
Due: clang-format

Improve ParticleSlice property access performance
  src/python/espressomd/particle_data.py
Due: autopep8

Change coulomb_energy_kernel interface from AOS to SOA (#5149)
  src/core/BoxGeometry.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/custom_verlet_list.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/solver.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/thole.hpp
Due: clang-format

Improve ParticleSlice property access performance
  src/python/espressomd/electrostatics.py
  src/python/espressomd/magnetostatics.py
  src/python/espressomd/particle_data.py
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.hpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  testsuite/python/particle_slice.py
Due: clang-format, autopep8
