Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

core: Combine the two Structure Factor functions
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Due: clang-format, autopep8

tests: Check Structure Factor against simple lattices
  testsuite/python/sf_simple_lattice.py
Due: autopep8

tests: Check orthorhombic and tetragonal lattices
  testsuite/python/sf_simple_lattice.py
Due: autopep8

CI: Run brew update before brew install
  .github/actions/build_and_check/action.yml
Due: none

CI: Deploy documentation to GitHub Pages
  .github/actions/deploy_docs/action.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
Due: none

temporary
  .github/actions/deploy_docs/action.yml
  .github/workflows/push_pull.yml
Due: none

env
  .github/workflows/push_pull.yml
Due: none

split
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
Due: none

core: Extract particle search from MC move logic
  src/core/particle_data.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
Due: clang-format

core: Remove name of unused variables
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionEnsemble.cpp
  src/core/reaction_methods/ReactionEnsemble.hpp
Due: clang-format

Revert "Moved serialization for ObjectList from cython to C++ (#4167)"
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/shapes.py
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/shapes/Union.hpp
  src/script_interface/tests/ObjectList_test.cpp
Due: clang-format, autopep8

tests: Check object containers serialization
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

core: Let ParticleRange filter particles
  src/core/ParticleRange.hpp
  src/core/integrators/velocity_verlet_inline.hpp
Due: clang-format

script_interface: Add ObjectMap
  src/script_interface/ObjectMap.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/ObjectMap_test.cpp
Due: clang-format

Refactor bonded interactions storage
  doc/sphinx/io.rst
  src/core/Observable_stat.cpp
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interaction_utils.hpp
  src/core/bonded_interactions/thermalized_bond_utils.cpp
  src/core/collision.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/interactions.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/python/espressomd/particle_data.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/interactions/CMakeLists.txt
  src/script_interface/interactions/bonded.hpp
  src/script_interface/interactions/initialize.cpp
  src/script_interface/interactions/initialize.hpp
  testsuite/python/interactions_bonded.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Formatting, f-strings, numpy shortcuts
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
  testsuite/scripts/tutorials/test_error_analysis_part1.py
  testsuite/scripts/tutorials/test_error_analysis_part2.py
Due: autopep8

doc: Spend less time for the slow implementation
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
Due: none

tests: Make tutorial tests reproducible
  testsuite/scripts/tutorials/test_error_analysis_part1.py
  testsuite/scripts/tutorials/test_error_analysis_part2.py
Due: autopep8

Document functions
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
Due: none

docs: Show full curve
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
Due: none

Copyediting
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
Due: none

Fix some of the issues with 0 in log scales
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
Due: none

Document and test quaternion function
  doc/tutorials/active_matter/active_matter.ipynb
  testsuite/scripts/tutorials/test_active_matter.py
Due: autopep8

WIP: MPI-parallel DDS with replica
  src/core/magnetostatics/dds.cpp
  src/core/magnetostatics/dds.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dlc.hpp
  src/python/espressomd/magnetostatics.py
  src/script_interface/magnetostatics/DipolarDirectSum.hpp
  src/script_interface/magnetostatics/DipolarDirectSumWithReplica.hpp
  src/utils/include/utils/mpi/iall_gatherv.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_interface.py
Due: clang-format, autopep8

Small fixes
  src/core/magnetostatics/dds.cpp
  src/core/magnetostatics/dds.hpp
  src/script_interface/magnetostatics/DipolarDirectSum.hpp
  src/script_interface/magnetostatics/DipolarDirectSumWithReplica.hpp
Due: clang-format

Bugfix: momentum conservation
  src/core/magnetostatics/dds.cpp
Due: clang-format

Add missing file
  src/utils/include/utils/cartesian_product.hpp
Due: clang-format

core: Reduce code duplication
  src/core/magnetostatics/dds.cpp
Due: clang-format

tests: Fix unit test
  src/script_interface/tests/Actors_test.cpp
Due: clang-format

CI: Skip statistical tests on macOS
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

python: Improve long-range parameter checks
  src/core/electrostatics/mmm1d.cpp
  src/core/electrostatics/mmm1d_gpu.cpp
  src/core/electrostatics/p3m.cpp
  src/core/magnetostatics/barnes_hut_gpu.cpp
  src/core/magnetostatics/barnes_hut_gpu_cuda.cu
  src/core/magnetostatics/dp3m.cpp
  src/python/espressomd/electrostatics.py
  src/python/espressomd/magnetostatics.py
  src/script_interface/magnetostatics/DipolarBarnesHutGpu.hpp
  testsuite/python/coulomb_interface.py
  testsuite/python/dipolar_interface.py
  testsuite/python/electrostatic_interactions.py
  testsuite/python/long_range_actors.py
Due: clang-format, autopep8

core: Remove Communication::Result::one_rank policy
  src/core/MpiCallbacks.hpp
  src/core/dpd.cpp
  src/core/grid_based_algorithms/lb_collective_interface.cpp
  src/core/grid_based_algorithms/lb_collective_interface.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/observables/DPDStress.hpp
  src/core/unit_tests/MpiCallbacks_test.cpp
Due: clang-format

core: Remove Communication::Result::reduction policy
  src/core/MpiCallbacks.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.hpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/integrate.cpp
  src/core/observables/DPDStress.hpp
  src/core/particle_node.cpp
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/cell_system/CellSystem.cpp
Due: clang-format

CI: CodeQL Action
  .github/workflows/codeql-analysis.yml
Due: none

fixup
  .github/workflows/codeql-analysis.yml
  .github/workflows/push_pull.yml
Due: none

fixup
  .github/workflows/codeql-analysis.yml
Due: none

CI: Disable MPI
  .github/actions/build_and_check/action.yml
  .github/workflows/codeql-analysis.yml
Due: none

patch
  .github/workflows/codeql-analysis.yml
Due: none

patch
  .github/workflows/codeql-analysis.yml
  .github/workflows/push_pull.yml
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
