Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Fix DPD bug
  src/core/system/System.cpp
  testsuite/python/dpd.py
Due: clang-format, autopep8

Check DPD update on time step change
  src/core/system/System.cpp
  testsuite/python/dpd.py
Due: clang-format, autopep8

Add Kokkos and Cabana to the build process (#5074)
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  cmake/patch_cabana_doxygen.diff
  maintainer/CI/build_cmake.sh
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/communication.cpp
Due: clang-format

Add shared-memory parallelism
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/cabana.patch
  cmake/espresso_cmake_config.cmakein
  cmake/espresso_unit_test.cmake
  cmake/heffte.patch
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/communication.cpp
  src/core/p3m/CMakeLists.txt
  src/python/pypresso.cmakein
  testsuite/python/CMakeLists.txt
Due: clang-format

CMake: FetchContent best practices
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  cmake/heffte.patch
  src/core/CMakeLists.txt
  src/core/p3m/CMakeLists.txt
  src/python/pypresso.cmakein
  testsuite/python/CMakeLists.txt
Due: none

CMake: Improve encapsulation
  CMakeLists.txt
  cmake/cabana.patch
  src/core/CMakeLists.txt
  src/core/fft/CMakeLists.txt
  src/core/p3m/CMakeLists.txt
Due: none

Kokkos implementation of for_each_local_particle()
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
Due: clang-format

Prepare ESPResSo for MPI+OpenMP
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  doc/sphinx/running.rst
  maintainer/CI/build_cmake.sh
  src/core/magnetostatics/CMakeLists.txt
  src/core/npt.cpp
  src/core/p3m/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/generated_kernels/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
  testsuite/python/analyze_energy.py
  testsuite/python/exclusions.py
  testsuite/python/long_range_actors.py
Due: clang-format, autopep8

cmake: Complete rewrite of FindFFTW3.cmake
  CMakeLists.txt
  cmake/FindFFTW3.cmake
  cmake/Findfftw3.cmake
  src/core/fft/CMakeLists.txt
Due: none

p3m: Use OpenMP kernels
  maintainer/benchmarks/benchmarks.py
  maintainer/benchmarks/p3m.py
  src/core/communication.cpp
  src/core/electrostatics/p3m.cpp
  src/core/fft/CMakeLists.txt
  src/core/fft/fft.cpp
  src/core/fft/init.cpp
  src/core/fft/init.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/p3m/field_layout_helpers.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/interpolation.hpp
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/utils/include/utils/index.hpp
Due: clang-format, autopep8

Fix performance regression
  src/core/p3m/P3MFFT.hpp
Due: clang-format

DPD: consistent noise w.r.t particle traversal order
  src/core/dpd.cpp
  testsuite/python/dpd.py
Due: clang-format, autopep8

LB OpenMP kernels (#5083)
  CMakeLists.txt
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/tests/CMakeLists.txt
Due: clang-format, autopep8

Implementation of new HDF5 interface (#5087)
  CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/hdf5_patches.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.cpp
  testsuite/python/h5md.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Lees-Edwards bugfixes (#5081)
  src/core/BoxGeometry.hpp
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/core/unit_tests/grid_test.cpp
  src/core/virtual_sites/relative.cpp
  testsuite/python/lees_edwards.py
  testsuite/python/virtual_sites_relative.py
  testsuite/python/virtual_sites_relative_pbc.py
Due: clang-format, autopep8

Kokkos parallel for_each_3d_lin (#5088)
  src/core/electrostatics/p3m.cpp
  src/core/p3m/field_layout_helpers.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/field_layout_helpers_test.cpp
Due: clang-format

Implementation of NpT ensemble based on the MTK scheme (#5077)
  doc/bibliography.bib
  doc/sphinx/integration.rst
  src/core/PropagationMode.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/integrators/CMakeLists.txt
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/integrators/velocity_verlet_npt_Andersen.cpp
  src/core/integrators/velocity_verlet_npt_MTK.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/system/System.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/integrators/VelocityVerletIsoNPT.cpp
  src/script_interface/integrators/VelocityVerletIsoNPT.hpp
  testsuite/python/icc_interface.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/long_range_actors.py
  testsuite/python/npt_thermostat.py
  testsuite/python/pressure.py
  testsuite/python/propagation_npt.py
Due: clang-format, autopep8

WIP
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/walberla.patch
  maintainer/CI/build_cmake.sh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  requirements.txt
  src/core/p3m/CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/python/espressomd/script_interface.pxd
  src/script_interface/tests/ParallelExceptionHandler_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  testsuite/benchmarks/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/samples/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/tutorials/CMakeLists.txt
Due: clang-format, autopep8

Style
  testsuite/benchmarks/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/samples/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/tutorials/CMakeLists.txt
Due: none

Address extra compiler diagnostics
  .gitlab-ci.yml
  CMakeLists.txt
  src/core/cell_system/HybridDecomposition.cpp
  src/core/electrostatics/p3m.cpp
  src/core/ghosts.cpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/CMakeLists.txt
  src/shapes/include/shapes/Union.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/shapes/src/Rhomboid.cpp
  src/utils/tests/bspline_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
Due: clang-format

particle reduction (#5091)
  src/core/analysis/statistics.cpp
  src/core/electrostatics/p3m.cpp
  src/core/particle_reduction.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/particle_reduction_test.cpp
Due: clang-format

fixes
  CMakeLists.txt
  cmake/espresso_override_clang_tidy_checks.cmake
  cmake/walberla.patch
Due: none

style
  CMakeLists.txt
Due: none

instrumentation
  .gitlab-ci.yml
  src/walberla_bridge/include/walberla_bridge/utils/ResourceManager.hpp
  src/walberla_bridge/tests/ResourceManager_test.cpp
  src/walberla_bridge/tests/ek_kernels_unit_tests.cpp
Due: clang-format

step
  src/core/communication.cpp
  src/walberla_bridge/tests/ResourceManager_test.cpp
  src/walberla_bridge/tests/ek_kernels_unit_tests.cpp
Due: clang-format

tmate
  .github/workflows/push_pull.yml
  cmake/walberla.patch
Due: none

step
  .github/workflows/push_pull.yml
Due: none

step
  .github/workflows/push_pull.yml
  maintainer/CI/build_cmake.sh
Due: none

sleep
  .github/workflows/push_pull.yml
  maintainer/CI/build_cmake.sh
  src/core/communication.cpp
Due: clang-format

step
  .github/workflows/push_pull.yml
  maintainer/CI/build_cmake.sh
  src/core/communication.cpp
Due: clang-format

step
  maintainer/CI/build_cmake.sh
  src/core/communication.cpp
Due: clang-format

use_count
  src/core/communication.cpp
Due: clang-format

reset
  src/core/MpiCallbacks.hpp
  src/core/communication.cpp
Due: clang-format

debug_statements
  src/core/MpiCallbacks.hpp
  src/core/communication.hpp
Due: clang-format

manual memory management
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/ek_interface_test.cpp
Due: clang-format

step
  src/core/communication.hpp
Due: clang-format

parallel_dtors
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/ek_interface_test.cpp
Due: clang-format

fix
  src/core/communication.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/ek_interface_test.cpp
Due: clang-format

global_config
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/ek_interface_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
Due: clang-format

fixup
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
Due: clang-format
