Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E701,W291,W293
  - --in-place
  - --aggressive

Shared memory parallelization for the bond loop (#5244)
  src/core/aosoa_pack.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/core/bond_error.cpp
  src/core/bond_error.hpp
  src/core/bond_forces_kokkos.hpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/cell_system/CMakeLists.txt
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/collision_detection/utils.hpp
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/integrate.cpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/p3m/interpolation.hpp
  src/core/pressure_inline.hpp
  src/core/short_range_cabana.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8

Fix discarded sign of LE shear velocity in velocity difference calculation (#5282)
  src/core/BoxGeometry.hpp
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

Fix regression in compiler flags selection
  CMakeLists.txt
  doc/sphinx/installation.rst
Due: none

Redesign FPE instrumentation
  CMakeLists.txt
  doc/sphinx/running.rst
  src/config/features.def
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/instrumentation/include/instrumentation/fe_trap.hpp
  src/instrumentation/src/fe_trap.cpp
  src/instrumentation/tests/fe_trap_test.cpp
  src/script_interface/walberla/EKFFT.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8

Make ELC tuning follow literature error-formula (#5280)
  src/core/electrostatics/elc.cpp
Due: clang-format

Improve tutorials (#5288)
  doc/bibliography.bib
  doc/sphinx/introduction.rst
  doc/tutorials/grand_canonical_monte_carlo/CMakeLists.txt
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  doc/tutorials/mlip-water/01_TIP4P_water.ipynb
  testsuite/tutorials/test_grand_canonical_monte_carlo.py
Due: autopep8

Build with CUDA + OpenMP (#5292)
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
Due: none

Improve OIF documentation and testing (#5293)
  .codecov.yml
  doc/bibliography.bib
  doc/sphinx/CMakeLists.txt
  doc/sphinx/advanced_methods.rst
  doc/sphinx/autodoc_overrides.cmake
  doc/sphinx/index.rst
  src/core/object-in-fluid/oif_local_forces.hpp
  src/python/espressomd/shapes.py
  src/python/object_in_fluid/__init__.py
  src/python/object_in_fluid/oif_classes.py
  src/python/object_in_fluid/oif_utils.py
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bonded.py
  testsuite/python/oif_local_forces.py
Due: clang-format, autopep8

workflow
  .github/workflows/push_pull.yml
Due: none

step
  .github/workflows/push_pull.yml
Due: none

2025
  .github/workflows/push_pull.yml
Due: none

bump
  .github/workflows/push_pull.yml
Due: none

step
  .github/actions/eessi/action.yml
  .github/workflows/push_pull.yml
Due: none

path
  .github/workflows/push_pull.yml
Due: none

upterm
  .github/workflows/push_pull.yml
Due: none

env
  .github/workflows/push_pull.yml
Due: none

export
  .github/workflows/push_pull.yml
Due: none

functions
  .github/workflows/push_pull.yml
Due: none

Short range energy calculation with shared memory parallelization (#5289)
  src/core/aosoa_pack.hpp
  src/core/bond_energy_kokkos.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/energy.cpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/solver.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/short_range_cabana.hpp
  src/core/short_range_cabana_helpers.hpp
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/caliper.py
Due: clang-format, autopep8

alternative
  .github/workflows/push_pull.yml
Due: none

Remove performance bottleneck in GPU VTK writers (#5283)
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

ARM64
  .github/workflows/push_pull.yml
Due: none

Drop extraneous hdf5 library/target commands that break HighFive (#5296)
  CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
Due: none

Rewrite features parser and config file generator (#5297)
  src/config/featuredefs.py
  src/config/gen_featureconfig.py
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/test_featuredefs.py
Due: autopep8

Port remaining reaction methods to Python
  samples/monte_carlo.py
Due: autopep8

Rapid prototyping of Monte Carlo methods
  doc/sphinx/reaction_methods.rst
  samples/monte_carlo.py
  src/core/reaction_methods/ExclusionRadius.cpp
  src/python/espressomd/analyze.py
  src/python/espressomd/reaction_methods.py
  src/script_interface/analysis/Analysis.cpp
  testsuite/samples/CMakeLists.txt
  testsuite/samples/test_monte_carlo.py
Due: clang-format, autopep8

core: Extract exclusion range neighbor search
  doc/sphinx/reaction_methods.rst
  src/core/reaction_methods/CMakeLists.txt
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ExclusionRadius.cpp
  src/core/reaction_methods/ExclusionRadius.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ExclusionRadius.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  src/script_interface/reaction_methods/initialize.cpp
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Replace Monte Carlo implementation
  doc/sphinx/reaction_methods.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  doc/tutorials/widom_insertion/widom_insertion.ipynb
  samples/monte_carlo.py
  samples/reaction_ensemble_complex_reaction.py
  samples/reaction_methods.py
  samples/widom_insertion.py
  src/core/particle_node.cpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/reaction_methods/ExclusionRadius.hpp
  src/script_interface/system/System.cpp
  src/script_interface/tests/CMakeLists.txt
  testsuite/python/canonical_ensemble.py
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_bookkeeping.py
  testsuite/python/reaction_complex.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/reaction_trivial.py
  testsuite/python/save_checkpoint.py
  testsuite/python/widom_insertion.py
  testsuite/samples/CMakeLists.txt
  testsuite/samples/test_monte_carlo.py
Due: clang-format, autopep8

WIP: Simplify CI workflows
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
