Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

DevOps: Use debian as default job in forks
  .github/workflows/push_pull.yml
Due: none

test
  .github/workflows/push_pull.yml
Due: none

fioxuip
  .github/workflows/push_pull.yml
Due: none

core: Fix particle folding bug for vs_relative
  src/core/BoxGeometry.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
Due: clang-format

test: Check virtual sites coordinate folding
  testsuite/python/CMakeLists.txt
  testsuite/python/virtual_sites_relative.py
  testsuite/python/virtual_sites_relative_pbc.py
Due: autopep8

core: Fix ghost communication
  src/core/Particle.hpp
  src/core/ghosts.cpp
  testsuite/python/virtual_sites_relative_pbc.py
Due: clang-format, autopep8

fixup
  src/core/virtual_sites/VirtualSitesRelative.cpp
Due: clang-format

fixup_ghosts
  src/core/ghosts.cpp
Due: clang-format

core: Fix ghost communication
  src/core/Particle.hpp
  src/core/ghosts.cpp
Due: clang-format

core: Gather integrator globals into struct
  src/core/Integrator.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cells.cpp
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/scafacos_impl.cpp
  src/core/event.cpp
  src/core/event.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/p3m/TuningAlgorithm.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/integrators/IntegratorHandle.cpp
Due: clang-format

Implement machine-learning adaptors
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/observables_ml.py
Due: clang-format, autopep8

Benchmark sample for ML
  samples/ml.py
Due: autopep8

dipole_field_tracking_observable
  src/core/observables/ParticleDipoleFields.hpp
  src/core/observables/ParticleTraits.hpp
  src/particle_observables/include/particle_observables/observable.hpp
  src/particle_observables/include/particle_observables/properties.hpp
  src/python/espressomd/observables.py
  src/script_interface/observables/initialize.cpp
  testsuite/python/observables.py
Due: clang-format, autopep8

New feature: coffee brewing machine
  doc/bibliography.bib
  doc/sphinx/advanced_methods.rst
  src/CMakeLists.txt
  src/barista/CMakeLists.txt
  src/barista/include/barista/FancyBrew.hpp
  src/barista/src/CMakeLists.txt
  src/barista/src/FancyBrew.cpp
  src/barista/tests/CMakeLists.txt
  src/barista/tests/FancyBrew_test.cpp
  src/python/espressomd/barista.py
  src/script_interface/CMakeLists.txt
  src/script_interface/barista/CMakeLists.txt
  src/script_interface/barista/FancyBrew.cpp
  src/script_interface/barista/FancyBrew.hpp
  src/script_interface/barista/initialize.cpp
  src/script_interface/barista/initialize.hpp
  src/script_interface/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/barista.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Templated ctor
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

MWE
  doc/tutorials/electrodes/electrodes_part2.ipynb
Due: none

MWE
  lj.py
  src/python/espressomd/system.py
Due: autopep8

Encapsulate bond parameters
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/angle_common.hpp
  src/core/bonded_interactions/angle_cosine.cpp
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.cpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_coulomb.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interaction_utils.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/bonded_interactions/bonded_tab.cpp
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/bonded_interactions/fene.cpp
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/quartic.hpp
  src/core/bonded_interactions/rigid_bond.cpp
  src/core/bonded_interactions/rigid_bond.hpp
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/bonded_interactions/thermalized_bond_utils.cpp
  src/core/bonded_interactions/thermalized_bond_utils.hpp
  src/core/global_ghost_flags.cpp
  src/core/integrate.cpp
  src/core/thermostat.cpp
  src/script_interface/interactions/BondedInteraction.hpp
Due: clang-format

Remove legacy Cython features
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  requirements.txt
  src/core/electrostatics/icc.cpp
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/electrostatic_extensions.py
  src/python/espressomd/gen_pxiconfig.py
  src/python/espressomd/particle_data.py
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.py
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  src/script_interface/electrostatics/ICCStar.hpp
  src/script_interface/get_value.hpp
  src/script_interface/tests/get_value_test.cpp
  src/script_interface/walberla/LatticeWalberla.hpp
  testsuite/python/box_geometry.py
  testsuite/python/coulomb_interface.py
  testsuite/python/icc_interface.py
  testsuite/python/pairs.py
  testsuite/python/particle.py
Due: clang-format, autopep8

step
  CMakeLists.txt
  requirements.txt
Due: none

ci
  .github/workflows/push_pull.yml
Due: none

ci
  .github/actions/build_and_check/action.yml
Due: none

example
  .github/workflows/push_pull.yml
Due: none

Prepare project for unit testing
  Makefile
  pyMBE.py
  testsuite/LYS_ASP_peptide.py
Due: autopep8

GitHub Actions
  .github/workflows/testsuite.yml
Due: none

fixup
  Makefile
Due: none

Update CI
  .gitlab-ci.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  src/python/espressomd/CMakeLists.txt
Due: none

remove doxygen
  .gitlab-ci.yml
Due: none

paths
  .gitlab-ci.yml
Due: none

disable some CI features
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
Due: none

Bump Clang requirements
  .clang-tidy
  CMakeLists.txt
Due: none

CI: remove style job
  .gitlab-ci.yml
Due: none

progress
  .gitlab-ci.yml
  CMakeLists.txt
  doc/doxygen/Doxyfile.in
  doc/sphinx/running.rst
  maintainer/CI/build_cmake.sh
  requirements.txt
  src/core/MpiCallbacks.hpp
  src/core/cuda/utils.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/system/GpuParticleData.hpp
  src/core/system/GpuParticleData_cuda.cu
  src/core/system/System.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/script_interface/walberla/LBFluidSlice.hpp
  src/script_interface/walberla/LatticeSlice.impl.hpp
  testsuite/python/caliper.py
Due: clang-format, autopep8

layers
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  testsuite/python/sigint.py
Due: autopep8

update-dependencies
  .gitlab-ci.yml
  CMakeLists.txt
Due: none

step
  .github/workflows/push_pull.yml
Due: none

bump_walberla
  CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
Due: clang-format
