Repository jngrad/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,E701,W291,W293", "--in-place", "--aggressive"]

# TODO WALBERLA
#    -   id: cmake-format
#        name: cmake-format
#        entry: sh maintainer/format/cmake-format.sh
#        language: system
#        always_run: false
#        files: 'CMakeLists.txt'
#        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Cabana: base max neighbor estimation on local density (#5237)
  src/core/LocalBox.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/custom_verlet_list.hpp
  src/core/short_range_cabana.hpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8

MLIP and Water Tutorial (#5174)
  doc/bibliography.bib
  doc/sphinx/introduction.rst
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.md
  doc/tutorials/mlip-water/.dvc/.gitignore
  doc/tutorials/mlip-water/.dvc/config
  doc/tutorials/mlip-water/01_TIP4P_water.ipynb
  doc/tutorials/mlip-water/02_MLIPs.ipynb
  doc/tutorials/mlip-water/03_MLIP_within_ESPResSo.ipynb
  doc/tutorials/mlip-water/CMakeLists.txt
  doc/tutorials/mlip-water/Readme.md
  doc/tutorials/mlip-water/TIP4P.png
  doc/tutorials/mlip-water/config/apax.yaml
  doc/tutorials/mlip-water/data.dvc
  doc/tutorials/mlip-water/dvc.lock
  doc/tutorials/mlip-water/dvc.yaml
  doc/tutorials/mlip-water/params.yaml
  doc/tutorials/mlip-water/pyproject.toml
  doc/tutorials/mlip-water/soper2013tab5.csv
  doc/tutorials/mlip-water/workflow.py
  testsuite/tutorials/CMakeLists.txt
  testsuite/tutorials/test_tip4p.py
Due: autopep8

codeql
  .github/workflows/codeql.yml
  .github/workflows/push_pull.yml
Due: none

docker
  .github/workflows/codeql.yml
Due: none

dependencies
  .github/workflows/codeql.yml
Due: none

updated the vector field visualization to work again with zndraw v0.6 (#5248)
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  src/python/espressomd/zn.py
Due: autopep8

codeql
  .github/workflows/codeql.yml
Due: none

Early exit from short range kernels (cabana and classic) (#5240)
  src/core/forces.cpp
  src/core/forces_cabana.hpp
Due: clang-format

docs: add WSL build instructions for Ubuntu 24.04 (#5234)
  doc/sphinx/installation.rst
Due: none

Fix ParticleSlice template resolution bug (#5250)
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ase_interface.py
  testsuite/python/particle_slice.py
Due: clang-format, autopep8

ASE Cleanup and MLIP tutorial update (#5251)
  doc/tutorials/mlip-water/03_MLIP_within_ESPResSo.ipynb
  doc/tutorials/mlip/mlip.ipynb
  samples/lj_liquid_ase.py
  src/python/espressomd/plugins/ase.py
  src/python/espressomd/zn.py
  testsuite/python/ase_interface.py
Due: autopep8

Startup routine for zndraw (#5253)
  src/python/espressomd/zn.py
Due: autopep8

Improve CI/CD workflows (#5252)
  .codecov.yml
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/ferrofluid.py
  maintainer/benchmarks/lb.py
  maintainer/benchmarks/lj.py
  maintainer/benchmarks/p3m.py
  testsuite/python/CMakeLists.txt
  testsuite/python/coulomb_cloud_wall_duplicated.py
  testsuite/python/icc_electrodes.py
  testsuite/python/random_pairs.py
  testsuite/python/regular_decomposition.py
  testsuite/python/tests_common.py
  testsuite/python/thermostats_anisotropic.py
  testsuite/python/virtual_sites_center_of_mass.py
  testsuite/tutorials/test_boltzmann_inversion.py
Due: autopep8

Improve documentation (#5255)
  CHANGELOG.md
  ChangeLog
  doc/bibliography.bib
  doc/sphinx/integration.rst
  doc/sphinx/introduction.rst
  doc/tutorials/Readme.md
  doc/tutorials/boltzmann_inversion/Readme.md
  doc/tutorials/charged_system/Readme.md
  doc/tutorials/constant_pH/Readme.md
  doc/tutorials/electrodes/Readme.md
  doc/tutorials/error_analysis/Readme.md
  doc/tutorials/ferrofluid/Readme.md
  doc/tutorials/grand_canonical_monte_carlo/Readme.md
  doc/tutorials/langevin_dynamics/Readme.md
  doc/tutorials/lattice_boltzmann/Readme.md
  doc/tutorials/lennard_jones/Readme.md
  doc/tutorials/mlip-water/Readme.md
  doc/tutorials/mlip/Readme.md
  doc/tutorials/polymers/Readme.md
  doc/tutorials/raspberry_electrophoresis/Readme.md
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  doc/tutorials/widom_insertion/Readme.md
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/rattle.cpp
  src/python/espressomd/particle_data.py
  src/python/espressomd/shapes.py
Due: clang-format, autopep8

authors
  AUTHORS
Due: none

citation.cff
  .github/workflows/push_pull.yml
  CITATION.cff
Due: none

fix ek friction forces (#5258)
  maintainer/walberla_kernels/ekin.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision_CUDA.cu
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_fluid_coupling.py
Due: clang-format, autopep8

Simplify error message management
  src/core/error_handling/RuntimeError.cpp
  src/core/error_handling/RuntimeError.hpp
  src/core/integrate.cpp
  src/core/integrators/Propagation.hpp
  src/core/integrators/velocity_verlet_npt_Andersen.cpp
  src/core/system/System.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/EKSpeciesSlice.cpp
  testsuite/python/ek_interface.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/thermalized_bond.py
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8

Reorganize authors
  AUTHORS
  CITATION.cff
Due: none

Improve support for newer compilers
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  doc/sphinx/conf.py.in
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  requirements.txt
  src/config/check_myconfig.py
  src/core/electrostatics/elc.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/Variant.hpp
  src/utils/tests/serialization_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/icc.py
  testsuite/python/oif_volume_conservation.py
  testsuite/python/virtual_sites_tracers_gpu.py
Due: clang-format, autopep8

Remove sources of implementation-defined behavior
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.cpp
  src/core/p3m/for_each_3d.hpp
  src/core/system/GpuParticleData.hpp
  src/core/system/GpuParticleData_cuda.cu
  src/core/system/ResourceCleanup.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Array_test.cpp
  src/utils/tests/Vector_test.cpp
  testsuite/python/elc_vs_analytic.py
Due: clang-format, autopep8

Add support for the NVIDIA HPC SDK
  CMakeLists.txt
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  maintainer/walberla_kernels/generate_ek_kernels.py
  maintainer/walberla_kernels/walberla_ek_generation.py
  src/core/p3m/CMakeLists.txt
  src/core/system/ResourceCleanup.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision_CUDA.cu
Due: clang-format, autopep8

LBWalberlaImpl readability (#5259)
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBBoundaryAccess.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBCollisionSetup.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBInterpolation.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBNodeAccess.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBSliceAccess.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_fields.cuh
  src/walberla_bridge/src/lattice_boltzmann/lb_fields.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.cuh
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  src/walberla_bridge/src/utils/types_conversion.hpp
  src/walberla_bridge/tests/lb_kernels_unit_tests.cpp
Due: clang-format

Fix fully connected boundaries (#5267)
  src/core/cell_system/RegularDecomposition.cpp
Due: clang-format

More fully connected boundaries (#5268)
  src/core/cell_system/RegularDecomposition.cpp
  testsuite/python/regular_decomposition.py
Due: clang-format, autopep8

Fix packaging issues
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  doc/bibliography.bib
  doc/sphinx/introduction.rst
  doc/sphinx/running.rst
  maintainer/walberla_kernels/templates/ReactionKernelSelector.tmpl.h
  src/core/accumulators/Correlator.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/hdf5_patches.hpp
  src/core/particle_node.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_init.cpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_init_cuda.cu
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cu
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.hpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_all.h
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_all.h
  src/walberla_bridge/src/lattice_boltzmann/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBCollisionSetup.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBInterpolation.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_walberla_init.cu
  src/walberla_bridge/tests/CMakeLists.txt
Due: clang-format

Author list and CITATION.cff
  AUTHORS
  CITATION.cff
  doc/sphinx/conf.py.in
  doc/sphinx/introduction.rst
Due: none

Add 5.0.0 release notes
  CHANGELOG.md
Due: none

Documentation for 5.0.0 release (#5272)
  CHANGELOG.md
  doc/sphinx/introduction.rst
  doc/sphinx/running.rst
  src/config/features.def
Due: none

Allow part of cluster analysis with Lees Edwards (#4965)
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/cluster_analysis/ClusterStructure.hpp
  testsuite/python/cluster_analysis.py
Due: clang-format, autopep8

Lees-Edwards exponential decay in oscillatory shear protocol(#4966)
  src/core/lees_edwards/protocols.hpp
  src/python/espressomd/lees_edwards.py
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

Fix feature guards
  src/config/features.def
  src/core/forces_cabana.hpp
  src/core/lb/particle_coupling.cpp
  testsuite/python/ase_interface.py
  testsuite/python/dpd.py
Due: clang-format, autopep8

Fix build system regressions
  CMakeLists.txt
  doc/sphinx/running.rst
  testsuite/scripts/CMakeLists.txt
Due: none

Test: covariance of stress tensor for non-central forces (#5278)
  testsuite/python/CMakeLists.txt
  testsuite/python/stress_tensor_covariance.py
Due: autopep8

Fix dihedral bonds checkpointing
  src/core/bonded_interactions/dihedral.hpp
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Improve code coverage
  src/core/forces_inline.hpp
  src/core/lb/particle_coupling.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  testsuite/python/ase_interface.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_tracers_common.py
Due: clang-format, autopep8

Make ELC tuning follow literature error-formula (#5280)
  src/core/electrostatics/elc.cpp
Due: clang-format
